@import '../variables/account';
@import '../variables/color';
@import '../variables/paths';
@import '../mixins/b-mixins';
@import '../vendor/bootstrap/mixins/vendor-prefixes';

@mixin cubic-bezier($cubicanim) {
	-webkit-transition: $cubicanim;
	transition: $cubicanim;
}

@each $name, $accountcolor in $accountcolors {
	.#{$name} {
		&.account {
			// scss-lint:disable ImportantRule
			border-color: $accountcolor !important;
			color: $accountcolor;

			.options {
				border-color: $accountcolor;

				li {
					h3,
					h5 {
						color: $accountcolor;
					}
				}
			}

			&.active {
				background: $accountcolor;
				border-color: $accountcolor;
			}
		}

		&.checkbox-account {
			.panel-default {
				.notice {
					color: $accountcolor;
				}
			}

			.account-pot {
				border-color: $accountcolor;

				h3,
				h5 {
					// scss-lint:disable ImportantRule
					color: $accountcolor !important;
				}

				&.fill-pot {
					background: $accountcolor;
				}
			}

			input[type= checkbox],
			input[type= radio] {
				opacity: 0;

				+ label {
					border-color: $accountcolor;
					color: $accountcolor;

					&.total-pot {
						// scss-lint:disable ImportantRule
						background: $accountcolor;
						border-color: $color-white !important;
					}
				}

				&:checked {
					+ label {
						// scss-lint:disable ImportantRule
						background: $accountcolor;
						border-color: $accountcolor !important;

						&.total-pot {
							// scss-lint:disable ImportantRule
							background: $color-white;
							border-color: $color-white !important;
							color: $accountcolor;
						}
					}
				}
			}
		}
	}
}


.account {
	.b & {
		@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
		border: 2px solid;
		border-radius: 8px;
		cursor: pointer;
		display: block;
		height: auto;
		margin-bottom: 8px;
		min-height: 185px;
		overflow: hidden;
		padding: 15px 10px;


		#{$header-tags},
		p {
			padding: 0;
		}

		h2,
		h3 {
			@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
			font-family: $b-font-semibold;
		}

		h4,
		h5 {
			@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
			font-family: $b-font-regular;
		}
		
		h3 {
			@include text-overflow (100%);
			@include font-size(24px);
			margin-bottom: 10px;
			
		}

		h5 {
			@include font-size(16px);
			margin-bottom: 30px;
			opacity: .6;
		}

		h2 {
			@include text-overflow (100%);
			@include font-size(36px);
			margin-bottom: 10px;
		}

		sub {
			@include font-size(18px);
			vertical-align: 5px;
		}

		h4 {
			@include font-size(18px);
			margin-bottom: 0;
			opacity: .6;
		}

		&.one-line {
			align-items: center;
			display: flex;
			justify-content: center;
			// scss-lint:disable ImportantRule
			min-height: 180px !important;

			@include responsive-max ($screen-sm-min) {
				// scss-lint:disable ImportantRule
				min-height: 60px !important;
				padding: 15px 10px;

				h3 {
					margin-bottom: 0;
				}
			}

			h4 {
				// scss-lint:disable ImportantRule
				font-family: $b-font-semibold !important;
			}

			h3 {
				@include font-size(16px);
				width: inherit;
			}
		}

		&.active {
			color: $color-white;

			&.selected {
				@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
				min-height: 70px;


				h3 {
					// scss-lint:disable ImportantRule
					@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
					float: left  !important;
					font-family: $b-font-regular !important;
					font-size: 18px !important;
					margin: 15px 0 0  !important;
				}

				h4,
				h5 {
					// scss-lint:disable ImportantRule
					@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
					display: none  !important;
				}

				h2 {
					// scss-lint:disable ImportantRule
					@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
					float: right  !important;
					font-size: 36px  !important;
					margin: 3px 10px 3px 0  !important;

					@include responsive-max($screen-sm-min) {
						// scss-lint:disable ImportantRule
						font-size: 36px  !important;
					}
				}
			}
		}

		&.inactive {
			background: nth($gray-shade, 3);
			border-color: nth($gray-shade, 3);
			color: $color-white;
			cursor: not-allowed;
		}

		&.attention {
			background: {
				image: url($b-icon-path + 'icon-attention.svg');
				position: 98% 10px;
				repeat: no-repeat;
				size: 30px;
			}
		}

		&.warning {
			background: {
				image: url($b-icon-path + 'icon-warning.svg');
				position: 98% 10px;
				repeat: no-repeat;
				size: 30px;
			}
		}
	}
}


.checkbox-account {
	.b & {
		margin-bottom: 17px;

		#{$header-tags},
		p {
			padding: 0;
		}

		h2,
		h3 {
			font-family: GalanoGrotesqueSemiBold;
		}

		h4,
		h5 {
			@include cubic-bezier(font .4s cubic-bezier(.87, -.41, .19, 1.44));
			font-family: $b-font-regular;
		}
		
		h3 {
			@include font-size(24px);
			margin-bottom: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;

			.icon-joint-account {
				@include font-size(18px);
				float: right;
			}
		}

		h5 {
			@include font-size(16px);
			margin-bottom: 30px;
			opacity: .6;
		}

		h2 {
			@include font-size(36px);
			margin-bottom: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;

			&.group-to {
				margin-bottom: 0;
			}
		}

		sub {
			@include font-size(18px);
			bottom: 0;
		}

		h4 {
			@include font-size(18px);
			margin-bottom: 15px;
			opacity: .6;

			&.group-from {
				margin-bottom: 5px;
			}
		}

		&.payee {
			h5 {
				margin-bottom : 38px;
			}

			h4 {
				margin-bottom: 7px;
			}
		}

		.panel-body {
			// scss-lint:disable ImportantRule
			padding: 0 !important;
		}

		.panel-default {
			border: 0;
			margin: 0 -13px 10px;
			position: relative;

			.notice {
				background: rgba(255, 255, 255, .95);
				border: 0;
				height: 100%;
				padding: 10px;
				position: absolute;
				width: 100%;
				z-index: $z-index-timer-marker;

				h4 {
					font-family: GalanoGrotesqueSemiBold;
					font-weight: bold;
					line-height: 25px;
					margin-bottom: 5px;
					opacity: 1;
					width: 90%;

					&:after {
						content: '\3d';
						font-family: b-font;
						position: absolute;
						right: 7px;
						top: 20px;
					}
				}
			}
		}

		.account-pot {
			background: $color-white;
			list-style: none;
			// scss-lint:disable ImportantRule
			margin: 0 !important;
			padding: 10px;

			li {
				overflow: hidden;

				label {
				// extend radio common style
					float: left;
					padding: 15px 0 0;
					text-align: center;
					width: 5%;
				}

				h3,
				h5 {
					float: right;
					opacity: 1;
					width: 85%;
				}

				h3 {
					border-bottom: 1px solid;
					margin-bottom: 10px;
					padding-bottom: 10px;
				}

				h5 {
					margin: 5px 0;
				}

				&:last-child {
					h3 {
						border-bottom: 0;
						padding-bottom: 0;
					}
				}

				& input[type= radio] {
					opacity: 0;
				}
			}
		}



		input[type= checkbox],
		input[type= radio] {
			opacity: 0;

			+ label {
				@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
				border: 2px solid;
				border-radius: 8px;
				cursor: pointer;
				display: block;
				height: auto;
				margin-top: -22px;
				min-height: 180px;
				overflow: hidden;
				padding: 10px 15px;

				::before {
					background: {
						image: url('../images/b/Payment-Arrow.svg');
						position: 100% 30px;
						repeat: no-repeat;
						size: 19px;
					}
				}

				::after {
					background: {
						image: url('../images/b/Payment-Arrow.svg');
						position: 100% 30px;
						repeat: no-repeat;
						size: 19px;
					}
				}

				.inline {
					display: inline-block;
					vertical-align: top;

					&:first-child {
						margin-right: 10px;
					}
				}

				.total-pot-box {
					padding: 0 10px;

					h2 {
						margin-bottom: 5px;
					}

					h3 {
						@include font-size(18px);
						font-family: $b-font-regular;
						margin-bottom: 5px;
					}
				}
			}

			&:checked + label {
				color: $color-white;

				&:not(.pots) {
					@include responsive-max(801px) {
						@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
						min-height: 45px;
						padding: 2px 15px;

						h3 {
							// scss-lint:disable ImportantRule
							float: left  !important;
							font-family: $b-font-regular !important;
							font-size: 17px !important;
							margin: 11px 0 0 !important;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							width: 20%;

							&.group-to {		
								width: 37%;		
							}

							&.potName {
								clear: left;
								// scss-lint:disable ImportantRule
								font-size: 14px !important;
								margin-bottom: 10px !important;
								margin-top: 5px !important;
							}
						}

						h4,
						h5 {
							@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
							// scss-lint:disable ImportantRule
							display: none  !important;

						}

						h2 {
							@include cubic-bezier(all .4s cubic-bezier(.87, -.41, .19, 1.44));
							// scss-lint:disable ImportantRule
							float: right  !important;
							font-size: 32px !important;
							margin: 3px 0  !important;
							width: auto;

							&.pot-h2 {
								line-height: 50px;
							}
						}
					}
				}
			}

			&:disabled + label {
				background: nth($gray-shade, 3);
				// scss-lint:disable ImportantRule
				border-color: nth($gray-shade, 3) !important;
				color: $color-white;
				cursor: not-allowed;
			}
		}
	}
}
