@import '../mixins/responsive';
@import '../mixins/dyb-header';
@import 'inputs';
@import '../variables/color';
@import '../variables/account';
@import '../vendor/bootstrap/variables';
@import '../vendor/bootstrap/mixins/vendor-prefixes';

$sectorwhite-color: #eee;
$vr-color: #d1d1d1;
$body-color: #57575f;
$focus-color: #8e8e93;
$tag-color: #868686;
$bordercolor: #ddd;
$tips-color: #9fa0a4;
$tipsbackground-color: #f9f9f9;
$panelbody-color: #a1a1a6;
$option-color: #00db6d;
$navigation-inner-border: #c0cad8;
$grid-no-transaction-line: #656565;

@mixin transitionanim ($transitionanim) {
	-webkit-transition: $transitionanim;
	transition: $transitionanim;
}

body {
	-moz-osx-font-smoothing: grayscale;
}

.b {
	height: 100vh;
	overflow: hidden;
	position: relative;
	

	@include responsive-between(1921px, 2600px) {
		zoom: 125%;
	}

	body & {
		color: $body-color;
	}

	input[type=text]::-ms-clear {
		display: none;
	}

	a,
	button {
		cursor: pointer;
		outline: 0;
		&:hover,
		&:active {
			box-shadow: none;
			text-decoration: none;
		}
		&:focus {
			box-shadow: none;
			// scss-lint:disable ImportantRule
			outline: none !important;
			// scss-lint:disable ImportantRule
			text-decoration: none;
		}
		&:disabled {
			cursor: default;
		}
	}
	
	.back_to_head {
		bottom: 30px;
		position: fixed;
	    	right: 50px;
	}

	label {
		font-weight: normal;
	}

	.vr {
		border-left: 1px solid nth($gray-shade, 4);
		margin: 8px 17px 8px 25px;
		padding: 11px 0;
		@include responsive-max($screen-sm) {
			display: none;
		}
	}

	#{$header-tags},
	p {
		font-family: GalanoGrotesqueRegular;
		margin: 0;
		padding-bottom: $standard-spacing;
	}

	strong {
		font-family: GalanoGrotesqueSemiBold;
		font-weight: 300;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: GalanoGrotesqueSemiBold;
		letter-spacing: 1px;
	}

	h1,
	.h1-style {
		font-size: $font-size-xxlarge;
	}

	h2,
	.h2-style {
		font-size: $font-size-xlarge;
	}

	h3,
	.h3-style {
		font-size: $font-size-large;
	}

	h4,
	h5,
	.h4-style,
	.h5-style {
		font-size: $font-size-medium;
	}

	p {
		font-family: GalanoGrotesqueRegular;
	}

	a {
		color: nth($gray-shade, 9);
		text-decoration: none;

		&:hover,
		&:focus {
			color: nth($gray-shade, 8);
			text-decoration: none;
		}
	}

	header {
		height: 85px;
		padding: 0;
		position: fixed;
		width: 100%;
		z-index: $z-index-spinner;

		@include responsive-max(950px) {
			overflow: hidden;
		}
		&.isPopOverOpen{
			@include responsive-max(950px) {
				overflow: visible;
			}	
		}
		.header-nav-column {
			margin: 0 auto;
			overflow: hidden;
			width: $screen-lg;
		}
		
		.navigation {
			&.main {
				@include background-image-cover($b-image-path + 'base.png');
				background-position: 0% 15%;
				background-size: 100% 100%;

				@include responsive-max($screen-md) {
					background-position: center 15%;
					background-size: 1024px 100%;
				}

				@include responsive-max(950px) {
					-webkit-overflow-scrolling: touch;
					overflow-x: scroll;
					overflow-y: hidden;
				}

				@include responsive-max($screen-sm) {
					@include background-image-cover($b-image-path + 'header_image.png');
					background-position: center 15%;
					background-size: 1024px 100%;
					-webkit-overflow-scrolling: touch;
					overflow-x: scroll;
					overflow-y: hidden;
				}


				&::-webkit-scrollbar {
					display: none;
				}

				ul {
					// scss-lint:disable ImportantRule
					font-family: GalanoGrotesqueSemiBold !important;
					// scss-lint:disable ImportantRule
					margin: 0 auto;
					overflow: hidden;
					padding: 25px 0 0;
					position: relative;
					text-align: center;
					width: 1200px;


					@include responsive-max(1200px) {
						width: 1024px;
					}

					@include responsive-max(1024px) {
						text-align: left;
						width: 991px;
					}

					@include responsive-max($screen-sm) {
						text-align: center;
						width: 900px;
					}

					li {
						display: inline-block;
						list-style: none;
						margin: 0;

						a {
							@include font-size(19px);
							@include prefix(transition, ease-in .05s, webkit moz);
							border-bottom: 0;
							color: $site-background-color;
							display: block;
							height: 60px;
							margin: 0 15px;
							padding: 5px 5px 0;
							width: auto;

							&.active {
								border-bottom: 4px solid $site-background-color;
								outline: 0;
							}

							&.you,
							&.spending,
							&.goals,
							&.alerts,
							&.helps {
								background-position: 12px 2px;
								background-size: auto 22px;
							}

							&.payments {
								background-position: 10px 3px;
								background-size: auto 18px;
								
							}

							.icon {
								@include font-size(22px);
								padding: 0 9px 0 0;
								vertical-align: sub;
							}
						}
					}
				}

				.overlay {
					nav {
						> ul {
							width: auto;
							text-align: right;

							li {
								a {
									.icon {
										padding: 6px;
									}
								}
							}
						}
					}
				}
			}

			&.inner {
				border-bottom: 1px solid $sectorwhite-color;
				background-color: $site-background-color;
				margin: 0;
				margin: 0 auto;
				overflow: hidden;
				padding: 25px 20px 0;
				position: relative;

				@include responsive-max($screen-sm) {
					@include font-size(16px);
					padding: 25px 0 20px;
					border-bottom: 1px solid nth($gray-shade, 1);
				}

				h4 {
					padding-bottom: 25px;

					@include responsive-max($screen-sm) {
						@include font-size(18px);
						padding-bottom: 0;
					}
				}
			}

			&.no-head {
				background-color: $site-background-color;
				margin: 0 auto;
				overflow: hidden;
				padding: 30px 20px 0 20px;
				position:relative;
				
				@include responsive-max($screen-sm) {
					//tr integ
					@include font-size(14px);
					padding: 27px 0 0;
				}
			}

			.icn-btn {
				@include font-size(25px);
				color: $site-background-color;
				cursor: pointer;
				padding: 10px;
				position: absolute;
				right: 10px;
				top: 16px;

			}

			.user-options {
				@include font-size(25px);
				color: $site-background-color;
				cursor: pointer;
				padding: 10px;
				position: absolute;
				right: 10px;
				top: 16px;

				@include responsive-max(801px) {
					display: none;
				}
			}
		}
	}

	.page-options {
		@include prefix(transition, all .4s ease, webkit moz);
		background: none;
		border: 0;
		cursor: pointer;
		padding: 0 10px;

		.icon {
			@include font-size(26px);
			display: inline-block;
			height: 30px;
			line-height: 1.4;
			overflow: visible;
			text-align: left;
			vertical-align: middle;
			width: 30px;
		}

		&.border {
			border: 1px solid;
			border-radius: 5px;
			margin: 10px 10px 0;
			padding: 8px 20px;
		}

		&.opt-green {
			border-color: $green;
			color: $green;			
		}

		&.opt-white {
			border-color: $color-white;
			color: $color-white;
		}
	}

	.page-options-small {
		padding: 0 10px;
		.icon {
			@include font-size(26px);
			display: inline-block;
			height: 30px;
			line-height: 0;
			text-align: left;
			vertical-align: middle;
			width: 30px;
		}

		&.border {
			border: 1px solid;
			border-radius: 5px;
			margin: 0 10px;
			padding: 8px 20px;
			
		}

		&.opt-green {
			border-color: $green;
			color: $green;
			
		}
	}

	.screenreader {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.action-button {
		@include font-size(22.4px);
		border: 0;
		bottom: 0;
		left: 0;
		padding: 20px 0;
		position: fixed;
		width: 100%;
		z-index: $z-index-spinner;

		&.green {
			background: $btn-green;
			color: $site-background-color;
		}

		&.white {
			background: $site-background-color;
			color: $btn-green;
		}
	}


	.btn-next,
	.btn-decline {
		// scss-lint:disable ImportantRule
		background-color: none !important;
		border: 0 !important;

		@include responsive-max($screen-md) {
		}

	}

	.btn-decline {
		@include responsive-max($screen-md) {
			background-color: palette((color: white)...);
			border: 0;
		}
	}

	.btn-back {
		color: palette((color: black)...);

		@include responsive-max($screen-md) {
			background-color: palette((color: white)...);
			border: 0;
		}
	} 

	.btn-disabled {
		background-color: none;
		// scss-lint:disable ImportantRule
		border: 0 !important;
		border-color: none;
		
	}

	.btn-postcode-remove-input {
		margin-bottom: 20px;

	}

	.btn-postcode-input,
	.btn-postcode-remove-input {

		@include responsive-max($screen-md) {
			margin-left: 0;
			margin-top: 15px;
			width: 100%;
		}

		.loading-spinner {
			margin-top: -16px;
		}
	}
	.thats-all {
		@include prefix(transition, all .7s ease, webkit ms moz);
		background: rgba(56, 232, 138, .8);
		border-radius: 5px;
		bottom: 0;
		color: $site-background-color;
		left: 104px;
		margin: 0 auto;
		opacity: 1;
		overflow: hidden;
		padding: 10px 20px;
		position: absolute;
		right: 0;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 460px;

		&:empty {
			opacity: 0;
		}

		@include responsive-max(768px) {
			left: 10%;
			min-width: 220px;
			width: 15%;
		}
	}

	.accountGridNoTransaction {
		@include prefix(transition, all .5s ease, webkit moz);
		color: nth($gray-shade, 11);
		margin: 30px 0;
		text-align: center;
	}

	.accountTransactionGridBottomText {
		@include prefix(transition, all .5s ease, webkit ms moz);
		@include text-overflow(70%);
		background: $toast-notification-color;
		border-radius: 5px;
		color: $color-white;
		margin: 30px auto;
		max-width: 500px;
		min-width: 250px;
		opacity: 1;
		padding: 10px 20px;
		text-align: center;


		&:empty {
			opacity: 0;
			// @include prefix(transition, all .5s ease, webkit ms moz);
			// background: {
			// 	color: $toast-notification-color;
			// 	image: url($common-image-path + 'loading_white.gif');
			// 	repeat: no-repeat;
			// 	position: 10px 5px;
			// 	size: 30px;
			// 	blend-mode: hard-light;
			// }
			// display: block;
			// height: 40px;
			// opacity: 0;
			// padding: 5px 5px 5px 45px;
			// text-indent: 30px;
		}
	}

	.main-container {
		height: 100%;
		overflow: hidden;
		padding-top: 85px;

		&.isPopOverOpen{
			.scroll-wrapper.extend{
				@include responsive-max(801px) {
					overflow: visible
				}
			}
		}
		&.from-top {
			padding-top: 0;
		}

		&.inner {
			padding-top: 75px;
		}
		&.noheader {
			padding-top: 0;
		}

		&.one-off {
			padding-top: 30px;
		}

		.scroll-wrapper {
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			height: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
			padding-bottom: 30px;
			padding-top: 30px;

			@include responsive-max($screen-sm) {
				padding-top: 10px;
			}

			&.no-scroll {
				overflow-y: scroll;
			}

			&.extend {
				height: calc(100% - 75px);
			}

			&.extend-further {
				height: calc(100% - 190px);
			}
		}

		.tips {
			background: nth($gray-shade, 5);
			border-bottom: 1px solid $sectorwhite-color;
			color: nth($gray-shade, 7);

			.note {
				background: {
					image: url($b-icon-path + 'icon-information.svg');
					position: 10px 18px;
					repeat: no-repeat;
					size: 28px;
				}
				margin: 0 auto;
				padding: 14px 15px 14px 60px;
				
				.padding-top-6 {
					padding-top: 6px;
				}

				.panel {
					background: none;
					// scss-lint:disable ImportantRule
					border: 0 !important;
					box-shadow: none;
					margin: 10px 0 0 -50px;

					@include responsive-max($screen-sm) {
						margin: 10px 0 0;
					}

					.panel-body {
						color: nth($gray-shade, 6);
						padding: 0;						
					}

					hr {
						background-color: $sectorwhite-color;
						margin: 2px 0;

						&:nth-child(2) {
							@include responsive-max($screen-sm) {
								display: none;
							}
						}
					}

					.page-options {
						@include responsive-max($screen-sm) {
							@include font-size(13px);
							margin-top: 10px;
							width: 50%;

						}

						&:first-child {
							@include responsive-max($screen-sm) {
								border-right: 1px solid $sectorwhite-color;
							}
						}
					}
				}

				@include responsive-max($screen-sm) {
					background: none;
					padding: 14px 15px;

				}

			}

			.page-options {
				cursor: pointer;
				display: inline-block;
				margin: 0;
				padding: 5px 3px;

				.icon {
					// scss-lint:disable ImportantRule
					font-size: 15px !important;
					padding: 7px 10px;
					display: inline-flex;
					line-height: 0;
					vertical-align: -4px;
				}
			}
		}

		.demo-full-width {
			// scss-lint:disable ImportantRule
			width: 100% !important;
		}

		.content-wrapper {
			margin: 0 auto;
			position: relative;

			.user-options {
				@include font-size(25px);
				color: $btn-green;
				cursor: pointer;
				display: none;
				padding: 10px;
				position: absolute;
				right: 10px;
				top: -5px;

				@include responsive-max(801px) {
					display: block;
				}
			}
		}

		.dashboard,
		.payments,
		.projections,
		.help,
		.alertnsweep,
		.alertSweep {
			width: 1200px;

			@include responsive-max($screen-md-max) {
				width: 1000px;
			}

			@include responsive-max($screen-sm-max) {
				width: 100%;
			}

			@include responsive-max($screen-sm-min) {
				width: 100%;
			}
		}

		.saving-pots {
			width: 1200px;

			@include responsive-max($screen-md-max) {
				width: 1000px;
			}
		}
	}
}
