
$whitecolor: #fff;

.financialstories-page {

  .headerSection {
	text-align: center;
  }

  .headerNav {
	text-align: right;
  }

  .cols {
	padding: 0 30%;
	width: 100%;
  }

  .colsHeader {
	margin-top: -190px;
	position: absolute;
	width: 100%;
  }

  .colsLeft {
	float: left;
	width: 50%;

	hr {
	  margin-bottom: 2px;
	  margin-top: 2px;
	  }
  }

  .colsRight {
	float: right;
	width: 50%;

	hr {
	  margin-bottom: 2px;
	  margin-top: 2px;
	  }
  }


  .panel {
	border: 0;
  }

  body {
	overflow: hidden;
  }

  .carousel {
	height: 100vh;
	overflow: hidden;
	width: 100vw;

	&__prev,
	&__next {
	  background: 'rgba(0, 0, 0, .6)';
	  color: $whitecolor;
	  cursor: pointer;
	  font-size: 32px;
	  height: 60px;
	  line-height: 60px;
	  margin-top: -30px;
	  position: absolute;
	  text-align: center;
	  top: 15%;
	  width: 60px;
	  z-index: 1000;
	}

	&__prev {
	  left: 150px;
	}

	&__next {
	  right: 150px;
	}

	&__slide {
	  height: 100%;
	  width: 100%;

	  div {
		background-size: cover;
		height: 30%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

	  }
	}
  }

  .translate-enter {
	transform: translateX(100vw);

	.translate-enter-active {
	  transform: translateX(0);
	  transition: all 500ms ease-in-out;
	}

  }

  .translate-leave {
	transform: translateX(0);

	.translate-leave-active {
	  transform: translateX(-100vw);
	  transition: all 500ms ease-in-out;
	}

  }

  .scale-appear,
  .blur-appear,
  .rotate-appear,
  .translate-appear {
	filter: grayscale(100%);
	transition: all 1000ms ease-in-out;

	.translate-appear-active {
	  filter: grayscale(0);
	}
  }


  .scale-enter {
	transform: scale(1);

	.scale-enter-active {
	  transform: scale(1);
	  transition: all 500ms ease-in-out;
	}
 }

  .scale-leave {
	transform: scale(1);

	.scale-leave-active {
	  transform: scale(1.2);
	  transition: all 500ms ease-in-out;
	}
  }

  .blur-enter {
	transform: scale(1);

	.blur-enter-active {
	  transform: scale(1);
	  transition: all 500ms ease-in-out;
	}
  }

  .blur-leave {
	opacity: 1;

	.blur-leave-active {
	  filter: blur(40px);
	  opacity: .01;
	  transition: all 500ms ease-in-out;
	}
  }

  .rotate-enter {
	filter: hue-rotate(-180deg);
	opacity: .01;

	.rotate-enter-active {
	  filter: hue-rotate(0deg);
	  opacity: 1;
	  transition: all 500ms ease-in-out;
	}
  }


  .rotate-leave {
	filter: hue-rotate(0deg);
	opacity: 1;

	.rotate-leave-active {
	  filter: hue-rotate(180deg);
	  opacity: .01;
	  transition: all 500ms ease-in-out;
	}
  }


  .mainSection {
	text-align: center;
  }
  // .gridSection{
  //  }

  }

.headerToggle {
  margin-left: 41%;
  margin-top: -55px;
  position: absolute;
  text-align: center;

	}

