@import '../variables/color';
$textfill-color: #607580;
$stroke-color: #009688;

.donut {
	&chart {
		// width: 100%;
		display: block;
		height: 100%;
		margin: 0 auto;

		&-indicator {
			@include transition(stroke-dasharray .3s ease);
			fill: transparent;
			stroke: $stroke-color;
			stroke-dasharray: 0 10000;
			stroke-linecap: round;
			stroke-width: 14;
		}

		&-track {
			fill: transparent;
			stroke: $input-background-color;
			stroke-width: 18;
			
		}

		&-text {
			fill: $textfill-color;
			font-family: GalanoGrotesqueSemiBold;
			font-size: 300%;
			font-weight: bold;
			letter-spacing: 2px;

			&-percent {
				font-family: GalanoGrotesqueRegular;
			}
		}
	}
}