.basic-modal-wrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-index-otp;

	.cb &,
	.yb & {
		background-color: palette((color: grey, tone: opaque-light)...);
	   
	}

	.dyb & {
		background-color: palette((color: grey, tone: opaque-dark)...);
	}

	// Depth of selectors required to override result-page.scss 175 :()
	.basic-modal-wrapper__container .basic-modal-wrapper__header {
		.component-title,
		.component-header-subtitle {
			padding: $standard-spacing 0;
		}
	}
}

.basic-modal-wrapper__container {
	@extend .col-md-6;
	@extend .col-sm-6;
	background: palette((color: white)...);
	box-shadow: $base-dropshadow;
	

	.dyb & {
		border-radius: $border-radius-dyb;
			max-height: 617px;
			max-width: 908px;
			overflow-x: auto;
			overflow-y: auto;
	}

	.btn,
	.btn:hover {
		margin: $standard-spacing / 2;
	}
}
