@import '../mixins/input-mixins';
@import '../mixins/responsive';
@import '../mixins/input-appearance';
@import '../mixins/b-mixins';
@import '../variables/paths';
@import '../vendor/bootstrap/mixins/vendor-prefixes';

$searchbackground-color: #f4f4f4;
$input-color: #8e8e93;
$searchcolor: #00dcb6;

input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
input[type=password] {
	@include x-appearance(none);
}

// scss-lint:disable SelectorFormat
select,
input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
input[type=password] {
	// scss-lint:enable SelectorFormat
	background: $input-background-color;
	border: 3px solid $input-border-color;
	border-radius: 0;
	color: $input-text-color;
	display: block;
	font-family: CYBHouschkaAltProBold;
	height: $input-height;
	outline: none;
	padding: 4px 20px;
	width: 100%;

	.dyb & {
		background: palette((color: white)...);
		border: 2px solid palette((color: grey)...);
		border-radius: 5px;
		font-family: GalanoGrotesqueRegular;
	}

	.b & {
		.dyb & {
			border: {
				bottom: 2px solid palette((color: grey)...);
				left: 0;
				right: 0;
				top: 0;
			}
			border-radius: 0;
		}
	}

	&:focus {
		@include input-focus();
	}

	&.complete {
		@include input-complete();

		&:focus {
			@include input-focus();
		}
	}

	&.error {
		@include input-error();
	}

	&.postcode-input {
		float: left;
		width: 100%;
	}

	&.read-only {
		border: 0;

		&:focus {
			border: 0;
		}
	}

}


.autofillSearch {
	height: 52px;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 5px 0;
	position: relative;
	z-index: 9;
	@include responsive-max($screen-xs) {
		margin-bottom: 0;
	}


	.b & {
		input[type=search] {
			@include font-size(18px);
			background: {
				color: $searchbackground-color;
				image: url($b-icon-path + 'icon-search.svg') !important;
				position: 15px 11px;
				repeat: no-repeat;
				size: 20px auto;
			}
			color: $input-color;
			font-family: $b-font-light;
			left: 0;
			padding: 4px 20px 4px 50px;
			position: absolute;
			top: 0;
			z-index: $z-index-timer-timeline;
			
			&::-ms-clear {
				display: none;
			}

			&.focused {
				width: calc(100% - 70px);
			}
		}

		.searchClear {
			color: nth($gray-shade, 14);
			position: absolute;
			right: 80px;
			top: 12px;
			width: 20px;
			z-index: 4;
		}
		.search-cancel {
			color: $searchcolor;
			cursor: pointer;
			// scss-lint:disable ImportantRule
			font-size: 17px !important;
			position: absolute;
			right: 7px;
			top: 9px;
			z-index: $z-index-timer-timeline - 1;
		}
	}
}

input[type=search] {
	@include transition(width .4s cubic-bezier(.87, -.41, .19, 1.44));
	// scss-lint:enable SelectorFormat
	background: $input-background-color;
	border-radius: 0;
	border: 3px solid $input-border-color;
	color: $input-text-color;
	display: block;
	font-family: CYBHouschkaAltProBold;
	height: $input-height;
	outline: none;
	padding: 4px 20px;
	width: 100%;

	.dyb & {
		// background: palette((color: white)...);
		background: $searchbackground-color;
		border: 0 solid palette((color: grey)...);
		border-radius: 5px;
		font-family: GalanoGrotesqueRegular;
		margin-bottom: 25px;
	}
}

.searchSuggest {
	@include font-size(18px);
	@include box-shadow(0 0 15px -3px rgba(0, 0, 0, .4));
	background-color: $searchbackground-color;
	border-radius: 5px;
	display: block;
	font-weight: 500px;
	line-height: 36px;
	padding: 10px 20px;
	position: absolute;
	top: 100px;
	width: 96%;
	z-index: 9;

	@include responsive-max($screen-sm) {
		 top: 60px;
	}

	::after {
		@include prefix(filter, drop-shadow(1px 0 -1px rgba(0, 0, 0, .1)), webkit moz ms);
		border-bottom: 20px solid $searchbackground-color;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid transparent;
		bottom: 100%;
		content: '';
		display: block;
		height: 0;
		left: 50%;
		position: absolute;
		width: 0;
	}

	> li {
		list-style: none;

		> a {
			cursor: pointer;
			display: block;
			padding: 5px 20px;
			@include responsive-max($screen-sm) {
				padding: 4px 10px;
			}
		}
	}
}

.currency {
	.b & {
		border-bottom: 2px solid palette((color: grey)...);
		overflow: hidden;

		label {
			@include font-size(32px);
			float: left;
			font-weight: bold;
			line-height: 40px;
			margin: 0;
			padding: 0 0 0 10px;
			width: 3%;
		}

		input[type=number] {
			@include font-size(28px);
			// scss-lint:disable ImportantRule
			border: 0 !important;
			float: right;
			font-weight: bold;
			margin: 0;
			padding: 0;
			width: 96%;
		}
	}
}

.info-message {
	padding-top: $standard-spacing;

	&.taken-username {
		margin-bottom: $standard-spacing;
	}

	p {
		background: palette((color: grey, tone: light)...);
		border-radius: 5px;
		// scss-lint:disable ImportantRule
		padding: 10px 20px !important;
		// scss-lint:enable ImportantRule
	}

	&.error {
		p {
			color: palette((color: red)...);

			.dyb & {
				color: palette((color: red, brand: dyb)...);
			}
		}
	}

	&.help {
		p {
			background: palette((color: yellow, tone: light)...);
			color: palette((color: grey, tone: x-dark)...);
		}
	}
}

fieldset,
.form-spacing {
	padding-bottom: $standard-spacing;

	@include responsive-max($screen-md) {
		margin-top: 0;
	}

	.cb &:not(.select-wrapper),
	.yb &:not(.select-wrapper) {
		margin-top: ($standard-spacing * 2);
	}

	label {
		display: table-cell;
		margin: 0;
		padding: 0 24px 0 0; // .help-icon width, to prevent overlap.
		vertical-align: middle;

		@include responsive-min($screen-md) {
			padding-bottom: 10px;

			.cb &,
			.yb & {
				padding-top: .7em;
			}
		}

		@include responsive-max($screen-md) {
			padding-bottom: 18px;
			padding-top: 0;
		}

		&.checkbox-inline {
			padding-left: $standard-spacing;
		}
	}
}


.help-icon {
	&:link,
	&:visited {
		background: url('../images/common/help-icon.png') 0 0 no-repeat;
		display: inline-block;
		height: 24px;
		position: absolute;
		right: 15px;
		text-indent: -9999px;
		top: 0;
		width: 24px;

		@include responsive-min($screen-md) {
			.cb &,
			.yb & {
				top: 7px;
			}
		}
	}

	&:hover,
	&:active {
		background-position: 0 -24px;
	}
}

.postcode-label-container {
	label {
		.dyb & {
			line-height: 42px;
			padding-bottom: 0;
			padding-top: 0;
		}
	}

	.help-icon:link,
	.help-icon:visited {
		right: 0;
		top: 9px;
	}
}

.dyb .address-type label {
	padding-bottom: 18px;
	padding-top: 18px;
}

input[type=date] {
	// This might not be desirable - might need to x-appearance:none, then style with arrow.
	// iphone specific change to target control size
	-webkit-min-logical-width: 94%;
	//background: $input-background-color url(../images/select-arrow.png) no-repeat right center;

	&:-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}

legend {
	display: none;
}

.radio-button-question {
	legend {
		border: 0;
		color: inherit;
		display: block;
		font-size: inherit;
		margin-bottom: 18px;
		padding-right: 24px;

		@include responsive-min($screen-md) {
			margin-bottom: 10px;
		}
	}
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	cursor: pointer;
}

.radio span,
.radio-inline span {
	box-sizing: content-box;
	height: 36px;
	left: 0;
	line-height: 36px;
	position: absolute;
	top: 0;
	width: 100%;

	.cb &,
	.yb & {
		@include responsive-min($screen-md) {
			height: 32px;
		}
	}
}

.radio input[type="radio"]:focus + span,
.radio-inline input[type="radio"]:focus + span {
	border: 2px solid $input-focus-border-color;
	left: -2px;
	top: -2px;

	.dyb & {
		border: 2px solid $input-focus-border-color-dyb;
		border-radius: 5px;
	}
}

select {
	text-indent: 10px;
}

// Multi-select box
select[size] {
	option {
		padding: 5px 0 10px 5px;
	}
}

.b {
	.timeline_backdrop {
		background: transparent;
		border: none;
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 8;
		cursor: default;
	}
}