@import '../mixins/responsive';
@import '../vendor/bootstrap/variables';

$site-background-color: #fff;
$activegray-color: #849368;

.menu-overlay {
	.lower {
		~.overlay-hugeinc{
			opacity: 0;
			transition: opacity 0.5s, visibility 0s 0.5s;
			visibility: hidden;
			-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
		}

		label{
			font-size:40px;
			text-align:center;
			text-transform:uppercase;

			&:hover{
				cursor:pointer;
			}
		}
	}

	input{
		display:none;
	}

	.overlay{
		background: rgba(0, 0, 0, 0.9);
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;

		label{
			background: {
				image: url('../images/b/icons/icon-small-dropdown.svg');
				repeat: no-repeat;
				size: 100%;
			}
			cursor:pointer;
			height: 35px;
			margin: 0;
			width: 35px;
			z-index: 100;
		}

		nav {
			display: inline-block;
			height: auto;
			margin-top: 30px;
			text-align: right;
			width: 1200px;

			@include responsive-max($screen-md-max) {
				width: $screen-md;
			}
			@include responsive-max($screen-sm-max) {
				width: 100%;
				position: relative;
				right: 30px;
				top: 105px;
				margin-top: 0;
			}
			@include responsive-max($screen-sm-min) {
				width: 100%;
			}
		}

		ul {
			display: inline-block;
			height: 100%;
			list-style: none;
			margin: 0 auto;
			padding: 0;
			position: relative;

			li {
				clear: right;
				display: block !important;
				float: right;
				text-align: right;
				width: 30%;

				a {
					-webkit-transition: color 0.2s;
					color: $site-background-color;
					display: block;
					font-weight: 300;
					height: auto !important;
					padding: 15px 0 !important;
					text-decoration:none;
					transition: color 0.2s;

					&:hover,
					&:focus,
					&:active {
						border: 0 !important;
					}
				}
			}
		}
	}

	#menuOverlay {
		&-landing,
		&-inner {
			&:checked {
				~.overlay-hugeinc {
					-webkit-transition: opacity 0.5s;
					opacity: 1;
					transition: opacity 0.5s;
					text-align: center;
					visibility: visible;

					nav {
						ul {
							-webkit-transform: rotateX(0deg);
							opacity: 1;
							padding: 0 !important;
							transform: rotateX(0deg);
							width: 100%;
						}
					}
				}
			}

			&:not(:checked){
				~.overlay-hugeinc{
					opacity: 0;
					visibility: hidden;

					nav{
						ul {
							//-webkit-transform: rotateX(0deg);
							//transform: rotateX(0deg);
							//-webkit-transform: translateY(25%) rotateX(-35deg);
							padding: 0 !important;
							//transform: translateY(25%) rotateX(-35deg);
						}
					}
				}
			}
		}
	}

	.overlay-hugeinc {
		nav {
			//-moz-perspective: 300px;

			ul {
				//-webkit-transform: translateY(-25%) rotateX(35deg);
				//-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
				opacity: 0.4;
				//transform: translateY(-25%) rotateX(35deg);
				///transition: transform 0.5s, opacity 0.5s;
			}
		}
	}

}