.meta-navigation {
	.overlay {
		left: 0;
		margin: 0 auto;
		max-width: 1200px;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 11;

		@media only screen and (max-width: 1199px) {
			max-width: 1024px;
		}

		@media only screen and (max-width: 1023px) {
			max-width: 991px;
		}

		nav {
			max-width: 220px;
			padding-top: 20px;
			position: absolute;
			right: 0;
			top: 22px;
			width: 100%;

			.scroll-wrapper & {
				@media (max-width: 801px) {
					max-width: 300px;
					top: 113px;
				}

				@media (max-width: 767px) {
					top: 90px;
				}
			}

			.scroll-wrapper.extend & {
				@media (max-width: 801px) {
					top: 192px;
				}
				@media (max-width: 767px) {
					top: 171px;
				}
				@media (max-width: 481px) {
					top: 209px;
				}
			}

			.scroll-wrapper.extend-further & {
				@media (max-width: 801px) {
					top: 299px;
				}
				@media (max-width: 767px) {
					top: 290px;
				}
				@media (max-width: 481px) {
					top: 330px;
				}
				@media (max-width: 458px) {
					top: 353px;
				}
			}

			.alert-head & {
				@media (max-width: 801px) {
					top: 116px;
				}
				@media (max-width: 767px) {
					top: 91px;
				}
			}

			.arrow {
				background: transparent;
				border: 0;
				color: $color-white;
				cursor: pointer;
				height: 30px;
				line-height: 30px;
				padding: 0;
				position: absolute;
				right: 13px;
				text-align: center;
				top: 0;
				width: 40px;

				@media only screen and (max-width: 801px) {
					right: 13px;
				}

				&:after {
					// scss-lint:disable ImportantRule
					@include font-size(36px);
					border: 0;
					content: '\70';
					font-family: 'b-font' !important;
					margin-left: 3px;
					top: -10px !important;

					@include responsive-max(801px) {
						// scss-lint:disable ImportantRule
						top: -10px !important;
					}
				}
			}

			ul {
				padding: 0;

				li {
					@include font-size(20px);
					font-family: $b-font-semibold;

					@media only screen and (max-width: 801px) {
						text-align: right;
    					padding-right: 14px;
					}

					a {
						color: $color-white;
						cursor: pointer;
						display: inline-block;
						padding: 15px 0;
						width: 100%;

						.title {
							@include font-size(18px);
						}

						.icon {
							@include font-size(20px);
							background: nth($gray-shade, 9);
							border-radius: 50%;
							display: inline-block;
							height: 40px;
							margin-left: 10px;
							padding: 6px;
							text-align: center;
							vertical-align: middle;
							width: 40px;

							&:before {
								position: relative;
								top: 3px;
							}
						}
					}
				}
			}
		}
	}

	.backdrop {
		background-color: rgba(0, 0, 0, .6);
		border: 0;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 11;
	}
}
