@import '../variables/color';
@import '../mixins/responsive';
@import '../vendor/bootstrap/mixins/vendor-prefixes';

@each $name, $accountcolor in $accountcolors {
	.#{$name} {
		.b &{
			&.toggle,
			.toggle {
				.react-toggle--checked{
					.react-toggle-track {
						background-color: $accountcolor;
					}
				} 
				.react-toggle-track { 
					border-color: $accountcolor;
				}
			}
		}
	}
}

$track-color: #4cd764;

.toggle {
	display: inline-block;

	&.default {

		.react-toggle-track {
			border: 2px solid #e8e6e5!important;
		}
		.react-toggle--checked {
			.react-toggle-track {
				background-color: $track-color !important;
				border: 0 !important;
			}
		}
	}

	.react-toggle {
		@include user-select(none);
		@include prefix(touch-callout, none, webkit);
		@include prefix(tap-highlight-color, $color-black-opacity-0, webkit);
		background-color: transparent;
		border: 0;
		cursor: pointer;
		display: inline-block;
		padding: 0;
		position: relative;

		&-screenreader-only {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		&--disabled {
			@include transition(opacity .25s);
			opacity: 0.5;
		}

		&-track {
			@include transition(all .2s ease);
			border: 2px solid $track-color;
			border-radius: 30px;
			height: 30px;
			padding: 0;
			width: 50px;

			&-check {
				@include transition(opacity .25s ease);
				bottom: 0px;
				height: 10px;
				left: 8px;
				line-height: 0;
				margin-top: auto;
				margin-bottom: auto;
				opacity: 0;
				position: absolute;
				top: 0px;
				width: 14px;
			}

			&-x {
				@include transition(opacity .25s ease);
				bottom: 0px;
				height: 10px;
				line-height: 0;
				margin-top: auto;
				margin-bottom: auto;
				opacity: 1;
				position: absolute;
				right: 10px;
				top: 0px;
				width: 10px;
			}
			
		}

		&-thumb {
			@include prefix(box-shadow, 0px 0px 4px rgba(0, 0, 0, .4), webkit moz ms);
			@include prefix(box-sizing, border-box, webkit moz ms);
			@include transition(all .25s ease);
			background-color: $color-white;
			border: 1px solid $color-white;
			border-radius: 50%;
			box-sizing: border-box;
			height: 26px;
			left: 2px;
			position: absolute;
			top: 2px;
			width: 26px;
		}

		&--checked {
			.react-toggle-track {
				background-color: $track-color;
			}

			.react-toggle-track-check {
				@include transition(all .25s ease);
				opacity: 1;
			}

			.react-toggle-track-x {
				opacity: 0;
			}

			.react-toggle-thumb {
				border-color: $color-white;
				left: 22px;
			}
		}
	}
}
