.u-strong {
	font-weight: bold;
}

.u-font-medium {
	font-size: $font-size-medium;
}

.u-center {
	text-align: center;
}

.u-text-capitalize {
	// If used with UPPERCASE chars this must be in conjunction with JS .toLowerCase().
	text-transform: capitalize;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}
