@import '../mixins/dyb-header';
@import '../mixins/dyb-page-colors';

.employment-details-page {

	@include dyb-color((color: orange)...);
	@include dyb-header('header-employment-details.jpg');

	@include responsive-max($screen-md) {
		.page-column-wrapper {

			.row:nth-child(2) {
				.component-header {
					padding-top: 20px;
				}
				
				hr {
					display: none;
				}
			}
		}
	}

	header {
		.cb & {
			@include background-image-cover('../images/cb/employment-header.jpg');
		}
		
		.yb & {
			@include background-image-cover('../images/yb/employment-header.jpg');
		}
	}

	// TODO: Declare this once for all pages in account-opening.scss
	.main-container {
		.dyb & {
			margin-top: $header-height-dyb;
		}
	}

	hr {
		.dyb & {
			display: none;
		}
	}
}

