@import '../mixins/dyb-header';
@import '../mixins/dyb-page-colors';

.landing-page {

	@include dyb-color((color: purple)...);
	@include dyb-header('header-landing-page.jpg');

	header {
		.cb & {
			@include background-image-cover('../images/cb/landing-header.jpg');
		}
		
		.yb & {
			@include background-image-cover('../images/yb/landing-header.jpg');
		}
	}

	// TODO: Declare this once for all pages in account-opening.scss
	.main-container {
		.dyb & {
			margin-top: $header-height-dyb;
		}
	}

	hr {
		.dyb & {
			display: none;
		}
	}

	.bottom-navigation-box {
		margin: 0;
	}

}

.terms-and-conditions-text,
.terms-and-conditions-pdf
 {
	padding-bottom: ($standard-spacing * 2);
}
