.offer-page-wrapper {
	@include dyb-header('header-offer-page.jpg');
	@include dyb-color((color: pink)...);
}

@mixin section ($color) {
	.component-header-subtitle .brand-highlight {
		color: palette((color: $color, brand: dyb)...);
	}

	#{$header-tags} {
		.brand-highlight {
			color: palette((color: $color, brand: dyb)...);
		}
	}

	.btn-next {
		background: palette((color: $color, brand: dyb)...);
	}

	a:not(.btn) {
		color: palette((color: $color)...);
	}
}


.result-page-wrapper,
.registration-page-container {

	.cb &,
	.yb & {
		.loading-spinner {
			margin-top: $standard-spacing*6;
		}
	}




	.alt-product &,
	.dyb.alt-product & {

		// scss-lint:disable SelectorDepth, NestingDepth
		.white-board .result-section {

			.component-header-subtitle {
				color: palette((color: grey, tone: x-dark)...);
				padding: 0;
			}

			#{$header-tags} {
				color: palette((color: grey, tone: x-dark)...);
			}
		}
		// scss-lint:enable SelectorDepth, NestingDepth
	}

	.alt-product.cb-offer & {
		@include section((color: red)...);
	}

	.alt-product.yb-offer & {
		@include section((color: blue)...);
	}

	.alt-product.cb & {
		@include section((color: red)...);
	}

	.alt-product.yb & {
		@include section((color: blue)...);
	}

	.alt-product.cb &,
	.alt-product.yb & {

		.component-header-subtitle {
			font-family: CYBHouschkaAltProMedium;
		}
	}

	.alt-product.dyb.yb-offer & {
		background-color: palette((color: blue, brand: dyb)...);

		.btn-primary {
			border-color: palette((color: blue, brand: dyb)...);
		}


		header {
			background-image: url('../images/dyb/logo-yb.png') , url('../images/dyb/header-submission-greyscale.png');
		}

		input[type=checkbox] + span:before {
			border-color: palette((color: blue, brand: dyb)...);
		}

		.radio-inline {

			input[type="radio"]:focus + span {
				border-color: palette((color: blue, brand: dyb)...);
			}

			&.checked {
				background: palette((color: blue, brand: dyb)...);
				border-color: palette((color: blue, brand: dyb)...);
			}
		}
	}

	.alt-product.dyb.cb-offer & {
		background-color: palette((color: red, brand: dyb)...);

		.btn-primary {
			border-color: palette((color: red, brand: dyb)...);
		}

		header {
			background-image: url('../images/dyb/logo-cb.png') , url('../images/dyb/header-submission-greyscale.png');
		}

		input[type=checkbox] + span:before {
			border-color: palette((color: red, brand: dyb)...);
		}

		.radio-inline {
			input[type="radio"]:focus + span {
				border-color: palette((color: red, brand: dyb)...);
			}

			&.checked {
				background: palette((color: red, brand: dyb)...);
				border-color: palette((color: red, brand: dyb)...);
			}
		}
	}

	.alt-product.dyb.cb-offer &,
	.alt-product.dyb.yb-offer & {

		header {
			background-position: center center, 86% center;
			background-size: auto 120px, auto 65px;

			@include responsive-max($screen-md) {
				background-position: 5% center, 95% center;
				background-size: auto 50%, auto 40%;
				height: $header-height-dyb-smaller;
			}

			&.smaller {
				background-size: auto 50%, auto 40%;
				height: $header-height-dyb-smaller;
			}
		}

		.btn {
			border-width: 2px;
		}

		.btn-decline {
			color: palette((color: grey, tone: dark)...);
		}

		.offer-page {
			background: transparent;
		}

		.component-title {
			color: palette((color: white)...);
		}

		hr {
			background: palette((color: grey)...);
			color: palette((color: grey)...);
		}
	}
}

.registration-page-container,
.switch-page-wrapper {

	.alt-product.dyb.cb-offer &,
	.alt-product.dyb.yb-offer & {

		.white-board {
			#{$header-tags},
			.component-title {
				color: palette((color: grey, tone: dark)...);
				}
			}
		}
}




