.otp-authentication {
	min-height: 500px;
	padding: $standard-spacing;
	width: $result-page-width;

	@include responsive-max($screen-md) {
		width: 100%;
	}

	@include responsive-max($screen-md) {
		left: 0;
		margin: 0;
		top: 0;
	}

	.component-title,
	.component-header-subtitle {
		padding-top: 20px;
	}

	.full-height {
		height: 100%;
	}

	.resend-otp-wrapper {
		position: relative;
		right: 0;
		top: 0;
	}

	.btn-primary-wrapper {
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.btn-primary,
	.btn-primary:hover {

		height: $button-height;
		line-height: 0;
		min-width: $button-width;
		white-space: nowrap;

		// scss-lint:disable SelectorDepth
		.cb &
		.yb & {
			font-family: CYBHouschkaAltProBold;
		}

		.cb & {
			background-color: palette((color: red, brand: cb)...);
			border-color: palette((color: red, brand: cb)...);
		}

		.yb & {
			background-color: palette((color: blue, brand: yb)...);
			border-color: palette((color: blue, brand: yb)...);
		}

		.dyb & {
			background-color: palette((color: blue, brand: dyb)...);
			border-color: palette((color: blue, brand: dyb)...);
			color: palette((color: white)...);
		}
		// scss-lint:enable SelectorDepth
	}

	.otp-component-header {
		display: flex;
		justify-content: center;
	}

	.otp-text-question-label {
		flex: 1;
		padding-right: 0;
		text-align: left;
		width: auto;

		&-container {
			display: flex;
		}
	}

	.otp-text-question-resend-button {
		background-color: palette((color: white)...);
		border: 0;
		cursor: pointer;
		text-decoration: underline;
		position: relative;
		right: 24px;
	}

	.btn-primary[disabled] {
		background-color: $dark-grey-color;
		border-color: $dark-grey-color;
	}
}
