@import "../../../mixins/responsive";

@mixin timeline-responsive-variant(
	$padding-left-even,
	$padding-right-even,
	$padding-left-odd,
	$padding-right-odd
) {
	width: 100%;

	.timeline-item {
		padding: {
			left: $padding-left-odd - 19px;
			right: $padding-right-odd;
		}

		@include responsive-max($screen-sm) {
			padding: {
				left: $padding-left-odd - 84px;
			}
		}

		&.timeline-item-right, &:nth-of-type(even):not(.timeline-item-left) {
			padding: {
				left: $padding-left-even;
				right: $padding-right-even;
			}
		}

		& .timeline-event {
			width: 100%;
		}
	}
}