$b-font-light: GalanoGrotesqueLight;
$b-font-regular: GalanoGrotesqueRegular;
$b-font-medium: GalanoGrotesqueMedium;
$b-font-semibold: GalanoGrotesqueSemiBold;
$b-font-bold: GalanoGrotesqueBold;

$b-fontsize-default: 16px;
$b-fontsize-smaller: 14px;
$b-fontsize-small: 15px;
$b-fontsize-medium: 18px;
$b-fontsize-large: 20px;
$b-fontsize-larger: 22px;
