$image-path: '../images/';
$b-image-path: '../images/b/';
$b-icon-path: '../images/b/icons/';
$b-nav-path: '../images/b/icons/nav/';
$b-logo-path: '../images/b/logos/';
$common-image-path: '../images/common/';
$logo-path: '../images/logos/';
