@import '../../mixins/responsive';
@import '../../mixins/dyb-header';
@import '../../variables/color';
@import '../../variables/structure';
@import '../../variables/account';
@import '../../vendor/bootstrap/variables';
@import '../../vendor/bootstrap/mixins/vendor-prefixes';

@each $name, $accountcolor in $accountcolors {
	.#{$name} {
		.b & {
			&.account-details {
				background: -webkit-linear-gradient(top, $accountcolor 0, $accountcolor 170px, rgba(243, 73, 47, 0) 0);

				&.no-service {
					background: -webkit-linear-gradient(top, $accountcolor 0, $accountcolor 140px, rgba(243, 73, 47, 0) 0);
				}
				.account-summery,
				.more-information,
				.tag-focus {
					background: $accountcolor;
				}

				.projection-slider {
					.slide {
						.slide-content {
							background-color: $accountcolor;
						}
					}

					.slick-next {
						&:before {
							color: $accountcolor !important;
						}
					}

					.slick-prev {
						&:before {
							color: $accountcolor !important;
						}
					}
				}

				.search-cancel {
					color: $accountcolor !important;
				}

				.filters {
					 a {
						color: $accountcolor;
					}

					.choose-date {
						.input-group {
							&.date {
								input[type=text] {
									color: $accountcolor;
								}
							}
						}

						.bootstrap-datetimepicker-widget {
							border-color: $accountcolor;

							&.pull-right {
								&:before {
									border-right-color: $accountcolor;
								}
							}

							ul {
								color: $accountcolor;
							}

							td {
								&.old,
								&.disabled,
								&.new {
									color: $accountcolor;
								}
								&.today {
									&:before {
										border-color: $accountcolor;
									}
								}

								&.active {
									background-color: $accountcolor;
									color: $color-white;
								}

								span {
									&.active {
										background-color: $accountcolor;
									}
								}
							}
						}
					}

					.customeDatePicker{
						color: $accountcolor;
						cursor: pointer;
					}
					
					.period-box {
						border-color: $accountcolor;

						&:before {
							border-right: 15px solid $accountcolor;
						}

						.input-group {
							&:before {
								color: $accountcolor;
							}
						}

						.bootstrap-datetimepicker-widget {
							border-color: $accountcolor;

							ul {
								color: $accountcolor;
							}

							td {
								&.old,
								&.disabled,
								&.new {
									color: $accountcolor;
								}

								&.active {
									background-color: $accountcolor;
									color: $color-white;
								}

								span {
									&.active {
										background-color: $accountcolor;
									}
								}	
							}
						}
					}
				}

				.add-tag {
					button {
						color: #00db6c;
						font-size: 18px;
					}
				}

				.griddle {
					td {
						.add-tag-grid {
							svg {
								path {
									fill: $accountcolor;
								}
							}
						}

						.transaction-pending {
							svg {
								g {
									fill: $accountcolor;
								}
							}
						}
					}
					thead {
						th {
							background: $accountcolor !important;
							color: $site-background-color !important;
						}
					}
					.show-more {
						border-color: $accountcolor;
						color: $accountcolor;
					}

					.icon-plus {
						color: $accountcolor;
					}
				}
			}
		}
	}
}

.account-details {
	.b & {
		&.no-service {
			.scroll-wrapper {
				margin-top: 20px !important;
				height: calc(100vh - 105px) !important;
			}

			.account-summery {
				min-height: 105px !important;
			}
		}

		.chicken-loading {
    		z-index: 11;
    		top: 0;
		}

		.icon-tag{
			&:before {
				margin-right: 8px;
			}
		}

		.modal_content {
			max-width: 350px;
			width: 100%;
		}

		.modal-wrapper{
			z-index: 15;

			&__container {
				padding: 0;
				margin: 0 20px;
			}
		}

		.scroll-wrapper {
			height: calc(100vh - 170px);
			padding-top: 0;
			margin-top: 85px;

			@include responsive-max($screen-sm) {
				margin-top: 96px;
			}
		}

		.content-wrapper {
			width: 1200px;

			@include responsive-max($screen-md-max) {
				width: 1024px;
			}
			@include responsive-max($screen-sm-max) {
				width: 100%;
			}
			@include responsive-max($screen-sm-min) {
				width: 100%;
			}
		}

		.nav-justified {
			width: calc(100% - 40px);
			margin: 0 auto;
			display: table;
			float: none;
			height: 30px;
			overflow: hidden;

			li {
				display: table-cell;

				a {
					padding: 6px 0;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
		
		.autofillSearch {
			margin: {
				left: 20px;
				right: 20px;
			}
		}

		.searchSuggest {
			top: 60px;
		}

		.account-summery {
			padding: 36px 20px 0px 20px;
			color: #fff;
			position: fixed;
			width: 100%;
			top: 0;
			z-index: 10;
			min-height: 170px;
			height: auto;


			@include responsive-max($screen-sm) {
				padding: 25px 10px 0px 10px;
				min-height: 170px;
			}

			.page-options {
				color: #fff;

				.icon-help-questions,
				.icon-tag {
					font-size: 23px;
				}
			}

			.summery-slider {
				position: relative;

				.slick-slider {
					margin-bottom: 0px; 

					@include responsive-max($screen-sm) {
						margin-bottom: 0 !important;
					}
				}

				.slick-list:before {
					// content: "";
					position: absolute;
					z-index: 4;
					left: 0px;
					top: 18px;
					height: 100px;
					border-width: 3px 0 3px 58px;
					border-style: solid;
				}

				.slick-list:after {
					// content: "";
					position: absolute;
					z-index: 4;
					right: 0px;
					top: 18px;
					height: 100px;
					border-width: 3px 58px 3px 0;
					border-style: solid;
				}

				.slick-slide {
					text-align: center;

					img {
						display: inline-block !important;
					}

					a {
						&:active,
						&:hover {
							outline: 0;
						}
					}

					h3,
					h2 {
						color: #fff;
						padding-bottom: 10px;

						sub {
							vertical-align: 5px;
							font-size: 60%;
						}
					}

					h3 {
						font-size: $font-size-medium;
						@include responsive-max($screen-sm) {
							margin-top: 35px;
						}
					}
					h2 {
						padding-top: 30px;
						font-size: $font-size-xxlarge;

						@include responsive-max($screen-sm) {
							padding-top: 0px;
						}
					}

					.slide-content{
						display: block;
					}
				}
				.slick-prev {
					height: 30px;
					width: 20px;
					left: calc(40% - 120px);
					top: 10%;
					margin-top: -15px;
					z-index: 5;

					&:before {
						content: "\28";
						font-family: 'b-font';
						color: #ffffff;
						opacity: 1;
					}

					&.slick-disabled {
						&:before {
							opacity: .3 !important;
						}
					}

					@include responsive-max($screen-sm) {
						top: 35%;
					}

				}
				.slick-next {
					height: 30px;
					width: 20px;
					right: calc(40% - 120px);
					top: 10%;
					margin-top: -15px;
					-moz-transform: scaleX(-1);
					-o-transform: scaleX(-1);
					-webkit-transform: scaleX(-1);
					transform: scaleX(-1);
					filter: FlipH;
					-ms-filter: "FlipH";
					z-index: 5;

					&:before {
						content: "\28";
						font-family: 'b-font';
						color: #ffffff;
						opacity: 1;
					}

					&.slick-disabled {
						&:before {
							opacity: .3 !important;
						}
					}

					@include responsive-max($screen-sm) {
						top: 35%;
					}
				}

				.slick-dots {	
					top: 30px !important;
					height: 25%;

					@include responsive-max($screen-sm) {
						top: 0 !important;
						left: 4px;
						margin-bottom: 0 !important;
					}

					li {
						width: 5px !important;

						button {
							border-radius: 999px  !important;
							cursor: pointer  !important;
							opacity: 0.25  !important;
							background: #fff;
							height: 7px !important;
							width: 7px  !important;
							padding: 2px;

							&:before {
								display: none;
							}
						}

						&.slick-active {
							button {
								opacity: 1  !important;
							}
						}
					}
				}
			
			}
		}

		.more-information {
			padding: 0px 0px 0px 0px;
			margin-bottom: 13px;
			text-align: center;
			color: #fff;

			p {
				font-size: 16px;

				&.account-num-sortcode {
					strong {
						> span {
							&:first-child {
								margin-right: 5px;
							}
						}
					}
				}
			}

			.more-info {
				padding-bottom: 10px;
				cursor: pointer;
				font-size: 17px;

				.icon {
					margin-left: 10px;
				}
			}

			.moreInfo-col {
				ul {
					width: 80%;
					display: inline-block;

					@include responsive-max($screen-xs) {
						width: 100%;
					}

					&:empty {
						border-top: 1px solid rgba(255, 255, 255, .4);
						position: relative;
						top: -10px;
					}
				}
			}

			ul {
				overflow: hidden;
				padding: 0 10%;
				margin-bottom: 5px;

				@include responsive-max($screen-xs) {
					padding: 0 0;
					
				}

				li {
					border-bottom: 1px solid rgba(255, 255, 255, .4);
					list-style: none;
					overflow: hidden;
					padding: 5px;
					font-size: 16px;

					&:first-child {
						border-top: 1px solid rgba(255, 255, 255, 0.4);
					}

					p {
						padding: 5px 0;
					}
					

					sub {
						vertical-align: 2px;
					}
				}
			}
		}

		.projection-slider {
			padding: 0 20px;

			@include responsive-max(1025px) {
				padding: 0 50px;
			}

			@include responsive-max($screen-xs) {
				padding: 0 12px;
			}
			
			.slick-slider {
				margin-bottom: 13px !important;
			}

			.slick-list {
				&:after {
					content: '';
					-webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(rgba(255, 255, 255, 0))) 1 100%;
					-webkit-border-image: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0)) 1 100%;
					-moz-border-image: -moz-linear-gradient(left, white, rgba(255, 255, 255, 0)) 1 100%; 
					-o-border-image: -o-linear-gradient(left, white, rgba(255, 255, 255, 0)) 1 100%;
					border-image: linear-gradient(to left, white, rgba(255, 255, 255, 0)) 1 100%;
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					border-width: 3px 30px 3px 0;
					border-style: solid;

					@include responsive-max(1025px) {
						border-width: 0;
					}
				}
			}
			
			.slide {
				text-align: center;
				padding: 0px 3px;

				@include responsive-max($screen-xs) {
					padding: 0px 10px;
				}

				a {
					&:active,
					&:hover {
						outline: 0;
					}
				}

				.slide-content {
					border-radius: 5px;
					background-color: #39afff;
					color: #fff;
					display: block;
					height: 150px;
					padding: 15px 0px 0px 10px;
					overflow: hidden;

					section {
						display: inline-block;
						position: relative;
						min-height: 130px;
						vertical-align: top;

						&.tile-coffee {
							img {
								margin-top: -4px;

								@include responsive-max(1025px) {
									width: 130px;
									margin-top: 7px;
									margin-left: -3px
								}
							}
						}

						&.tile-projection {
							img {
								@include responsive-max(1025px) {
									width: 135px;
									margin-top: 12px
								}
							}
						}

						&.tile-chocolate {
							img {
								@include responsive-max(1025px) {
									width: 120px;
									margin-top: 10px;
									margin-left: -9px;
								}
							}
						}

						&.tile-slinky {
							img {
								@include responsive-max(1025px) {
									width: 145px;
									margin-top: 20px;
								}
							}
						}

						&:first-child {
							width: 60%;
							text-align: left;

							p {
								&:last-child {
									position: absolute;
									left: 0;
									bottom: 0;
								}
							}
						}

						&:last-child {
							width: 40%;
							text-align: right;

							img {
								display: initial;

								@include responsive-max(1025px) {
									width: 130px;
								}
							}
						}
					}
				}
			}

			.slick-prev {
				height: 30px;
				width: 20px;
				left: -30px;
				top: 50%;
				margin-top: -15px;

				&:before {
					content: "\28";
					font-family: 'b-font';
					color: #39afff;
				}
			}

			.slick-next {
				height: 30px;
				width: 20px;
				right: -30px;
				top: 50%;
				margin-top: -15px;
				-moz-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
				filter: FlipH;
				-ms-filter: "FlipH";

				&:before {
					content: "\28";
					font-family: 'b-font';
					color: #39afff;
				}
			}
		}
		.autofillSearch {
			margin-bottom: 3px !important;
		}

		.filters {
			font-family: GalanoGrotesqueRegular;
			font-weight: bold;
			color: #909090;
			padding: 7px 0 0 20px;

			@include responsive-max($screen-md) {
				display: none;
			}

			@include responsive-max($screen-xs) {
				display: none;
			}

			.date-timePicker {
				> span {
					display: inline-block;
					vertical-align: top;
					margin-right: 4px;
				}
			}

			.input-group {
				&.date {
					input[type=text] {
						padding: 0;
						box-shadow: none;
						border: 0;
						background: transparent;
						width: 130px;
						height: 22px;
						font-family: GalanoGrotesqueRegular;
						font-weight: bold;
					}

					.input-group-addon {
						padding: 0;
						z-index: 2;
						width: 100%;
						position: absolute;
						left: 0;
						background: none;
						border: 0;
						box-shadow: none;

						span {
							width: 100%;
							padding: 12px 0;

							&:before {
								content: '' !important;
							}
						}
					}
				}
			}

			.choose-date {
				&:before {
					//content: '';
					position: absolute;
					border-top: 15px solid transparent;
					border-right: 15px solid black;
					border-bottom: 15px solid transparent;
					border-left: 15px solid transparent;
					left: -30px;
					top: 50%;
					margin-top: -15px;
				}

				.bootstrap-datetimepicker-widget {
					border: 2px solid #39aeff;
					border-radius: 5px;
					box-shadow: 10px 0px 13px rgba(0, 0, 0, 0.175);
					right: 60px !important;
					top: -125px !important;
					margin-top: 30px;
					padding: 12px 7px;
					width: 245px !important;

					&.pull-right {
						&:before {
							content:'';
							left: -30px;
							right: auto;
							top: 40%;
							margin-top: -15px;
							border-left: 15px solid transparent;
							border-right: 15px solid;
							border-top: 15px solid transparent;
							border-bottom: 15px solid transparent;
						}
					}

					&.bottom {
						&:after {
							display: none !important;
						}
					}

					ul {
						height: 257px;
						overflow: hidden;
						color: #39aeff;

						> li:last-child {
							display: none;
						}
					}

					td {
						&.old,
						&.new {
							color: #39aeff;
							opacity: .3;
						}
						&.disabled {
							color: #39aeff;
							opacity: .3;
						}
					}
				}
			}

			.period-box {
				position: absolute;
				border: 1px solid;
				background: #fff;
				z-index: 12;
				top: -95px;
				left: 178px;
				padding: 10px 20px;
				border-radius: 5px;
				border: 2px solid;
				font-weight: normal;
				text-align: center;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, .175);
				z-index: 11;
				width: 175px;
				height: 282px;

				&:before {
					content: '';
					position: absolute;
					border-top: 15px solid rgba(0, 0, 0, 0);
					border-right: 15px solid rgba(0, 0, 0, 1);
					border-bottom: 15px solid rgba(0, 0, 0, 0);
					border-left: 15px solid rgba(0, 0, 0, 0);
					left: -30px;
					top: 40%;
					margin-top: -15px;
				}

				a {
					display: block;
					padding: 10px 0 10px 20px;
					padding-left: 1px;
					text-align: center;
				}

				.period-options {
					width: 130px;

					.period-calender {
						label {
							font-weight: bold;
						}
						
						input[type=checkbox] {
							display: none;
						}
					}

					.input-group {
						&:before {
							content: 'Custom date...';
							font-size: 1em;
							position: absolute;
							width: 130px;
							height: 40px;
							left: 0;
							padding-top: 9px;
							font-weight: normal !important;
							text-align: center;
						}
						&.date {
							input[type=text] {
								padding: 0;
								box-shadow: none;
								border: 0;
								color: #fff;
								opacity: 0;
								background: transparent;
								width: 130px;
								height: 40px;
								font-size: 0;
							}

							.input-group-addon {
								padding: 7px 0;
								z-index: 2;
								width: 100%;
								position: absolute;
								left: 0;
								background: none;
								border: 0;
								box-shadow: none;

								span {
									width: 100%;
									padding: 12px 0;

									&:before {
										content: '' !important;
									}
								}
							}
						}
					}
				}

				
				.bootstrap-datetimepicker-widget {
					border: 2px solid rgb(57, 174, 255);
    				border-left: 0;
					border-radius: 0;
					border-top-right-radius: 5px !important;
					border-bottom-right-radius: 5px !important;
					box-shadow: 10px 0px 13px rgba(0, 0, 0, 0.175);
					right: -230px !important;
					top: -32px !important;
					margin-top: 30px;
					width: auto !important;
					padding: 12px 7px;
					width: 245px !important;
					height: 282px;

					&:before {
						display: none;
					}

					&.bottom {
						&:after {
							display: none !important;
						}
					}

					ul {
						height: 257px;
						overflow: hidden;
						color: #39aeff;

						> li:last-child {
							display: none;
						}
					}

					td {
						&.old, 
						&.new {
							color: #39aeff;
							opacity: .3;
						}
						&.disabled {
							color: #39aeff;
							opacity: .3;
						}
					}
				}
			}
			.custom-date-picker-backdrop {
				border: 0;
				position: fixed;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				background: rgba(255, 255, 255, 0);
				z-index: 10;
				cursor: default;
			}
			.displayBlock{
				display: block;
			}
			.displayNone{
				display: none;
			}
		}

		.grid-nav {
			.nav {
				margin-bottom: 15px;
			}
		}

		.griddle {
			.griddle-body {
				.footer-container {
					background-color: #fff !important;
				}
			}

			th {
				font-weight: normal;
				height: 42px;
			}

			td {
				&.selection-column {
					.option-select {
						top: -3px;
					}
				}
			}

			th,
			td {
				cursor: pointer;
				padding: 12px 15px;

				&:first-child {
					padding-left: 60px !important;
				}

				&.selection-column {
					width: 7%;
					border-bottom: 0;
					padding-left: 30px !important;
				}

				&.date-column {
					width: 16%;
				}

				&.description-column {
					width: 24%;
				}

				&.type-column {
					width: 15%;
				}

				&.tag-column {
					width: 17%;

					.add-tag-grid {
						svg {
							margin-top: -2px;
						}
					}
				}

				&.amount-column {
					width: 13%;
				}

				&.balance-column {
					width: 15%;
					text-align: right !important;
					padding-right: 30px !important;

					.transaction-pending {
						height: 30px;
					}

					@include responsive-max(769) {
						padding-right: 15px !important;
					}
				}
			}

			.icon-plus:before {
				font-size: 25px;
			}
		}

		.accountTransactionGridBottomText {
			text-align: center;
			margin-bottom: 30px;
		}

		.load-more {
			border: 2px solid #3ebbf9;
			border-radius: 5px;
			padding: 10px 20px;
			color: #3ebbf9;
			text-decoration: none !important;
			font-weight: bold;
			cursor: pointer;

			&:hover,
			&:visited {
				color: #3ebbf9;
			}
		}
	}
}