@import '../../vendor/bootstrap/mixins/vendor-prefixes';

.addNewPayee{

.b &.content-wrapper {
	margin-top: -20px;
}

 .pay-btn-success {
			position: fixed;
			width: 100%;
			background-color:$green; 
			border: 0;
			width: 100%;
			font-size: 23px;
			outline: none !important;
			z-index: 5;
			bottom: 0;
			left: 0;
			color: #fff;
			padding: 10px 0;
		}
		

.form-wrapper {
	padding: 0 62px;

	    @include responsive-max($screen-sm) {
			padding: 0 0 10px 0;
		}

		li {
			list-style-type: none;
			padding: 17px 15px;
			border-bottom: 1px solid #e7e7e7;
			color: #57575f;
			overflow: hidden;
			::-ms-clear {		
				display: none;		
				}
			::-webkit-input-placeholder {
				color: #2be66d;
			}

			:-moz-placeholder { 
				color: #2be66d;  
			}

			::-moz-placeholder { 
				color: #2be66d;  
			}

			:-ms-input-placeholder {  
				color: #2be66d;  
			}
			input:focus::-webkit-input-placeholder { color: transparent; }
			input:focus::-moz-placeholder { color:transparent; }
			input:focus:-ms-input-placeholder { color:transparent; }


			@include responsive-max($screen-sm) {
				padding: 17px 25px;
			}

			section {
				padding-bottom: 0;
				&:first-child {
					float: left;
					width: 60%;
					text-align: left;
				}

				&:nth-child(2) {
					float: right;
					text-align: right;
					width: 40%;
				}
				
				& input[type=text] {
					border: none;
					padding: 0;
					text-align: right;
					height: 20px;
					color: $green;
					&.pay{		
						color: red;		
					}
				}

				.toggle {
					& .react-toggle {
						margin-bottom: -14px;
					}
				}
			}
		}
	}

}

