@import '../../variables/color';
@import '../../variables/account';
@import '../../vendor/bootstrap/mixins/vendor-prefixes';

$blue: #39aeff;
$grey:  #d9d9d9;

@each $name, $accountcolor in $accountcolors {
	
	.#{$name} {
		.b & {
			&.alert-icon {
				.icon{
					color: $accountcolor !important;
				}
			}
			&.alert-title {
				h3 {
					color: $accountcolor !important;
				}
			}
		}	
	}
}

.alertSweep {
	.scroll-wrapper {
		height: calc(100% - 67px) !important;
		padding-bottom: 70px !important;
	}
	

	.content-wrapper {
		width: 1200px;

		@include responsive-max($screen-md-max) {
			width: $screen-md;
		}
		@include responsive-max($screen-sm-max) {
			width: 100%;
		}
		@include responsive-max($screen-sm-min) {
			width: 100%;
		}
	}

	.alert {
		&-head {
			margin: 35px auto 0px auto;
			position: relative;
			padding-left: 37px;
			overflow: hidden;
			width: 1200px;

			@include responsive-max($screen-md-max) {
			width: $screen-md;
			}
			@include responsive-max($screen-sm-max) {
				width: 100%;
			}
			@include responsive-max($screen-sm-min) {
				width: 100%;
			}

			@include responsive-max($screen-sm-min) {
				margin: 10px 0px 20px 0px;
				display: block;
				padding-left: 0;
			}

			.user-options {
				color: $option-color;
				cursor: pointer;
				display: none;
				font-size: 25px;
				padding: 10px;
				position: absolute;
				right: 10px;
				top: -5px;

				@include responsive-max(801px) {
					display: block;
				}
			}

			.page-options {
				transition: none;

				@include responsive-max(801px) {
					display: none;
				}
				.icon-add {
					margin-right: 6px;
				}
			}

			 h4 {
				text-align: left;
				padding-bottom: 10px;

				@include responsive-max($screen-sm-max) {
					text-align: left;
					margin-left: 30px;
				}

				@include responsive-max(801px) {
					text-align: center;
					margin-left: 0px;
				}
			}

			.dot-options{
				position: absolute;
				right: 0;
				top: 0;
				font-size: 20px;
				display: none;

				@include responsive-max($screen-sm-min) {
					display: block;
				}
			}
		}

		&-body {
			font-size: 20px;
			margin-top: -20px;

			ul {
				padding: 0;

				li {
					padding: 30px 20px 10px 5px;
					border-bottom: 1px solid #eee;
					list-style: none;
					width: 100%;
					overflow: hidden;

					@include responsive-max(1025px) {
						padding: 30px 20px 10px 5px;
						margin-left: 30px;
						width: calc(100% - 30px);
					}

					@include responsive-max($screen-sm) {
						padding: 30px 20px 10px 0px;
					}

					section {
						.icon {
							font-size: 30px;
							color: $blue;

							@include responsive-max($screen-sm) {
								font-size: 23px;
								//padding-left: 40px; //temp
								//padding-right: 40px;
							}
						}

						h3 {
							color: $blue;
							font-size: 22px;
							padding-bottom: 15px;

							@include responsive-max($screen-sm) {
								font-size: 17px;
								padding-bottom: 15px;
							}
						}

						p {
							font-size: 20px;
							color: #57575f;
							padding-bottom: 15px;

							strong {
								font-family: GalanoGrotesqueSemiBold;
								font-weight: 300;
							}

							@include responsive-max($screen-sm) {
								font-size: 15px;
							}
						}

						&:first-child {
							float: left;
							width: 30px;
							text-align: right;
							margin-right: 17px;
							cursor: pointer;
						}

						&:nth-child(2) {
							float: left;
							width: 70%;
							//margin-right: 15px;
							cursor: pointer;

							@include responsive-max($screen-sm-max) {
								width: 62%;
							}
						}

						&:last-child {
							float: right;
							width: 55px;
							text-align: right;

							@include responsive-max($screen-sm-max) {
								margin-right: 10px;
							}
							
						}
					}

					&.inactive {
						.icon,
						h3,
						{
							color: #d4d4d4 !important;
						}
					}
				}
			}
		}
	}

	.rowIconStyle{
		margin-top: -7px;
	}

	.modal_content {
		&.infoPopup {
			max-width:640px;
			min-width: 100%;
			height:385px;
		}
		
		&.deletePopup, 
		&.sweepsPopup {
		    max-width: 370px;
		    min-width: 100%;
		}
		
		p {
			font-size: 18px;
		}
	}

	.modal_footer{
		button{
			font-size: 18px;
		}
	}
	.icon {
		padding-top: 0px;

		&.icon-close{
			font-size: 18px;
		}
	}

	

	.alertsAndSweepsListStyle{
		margin-top:-05px;
		margin-bottom:-10px;

		@include responsive-max($screen-sm-max) {
			margin:10px 45px 0px 15px;
		}
	}

	.dotStyle{
		color:#00db6d;
		margin-top:-10px;
	}



	.infoRow{
		background: #ffffff;
		width: 100%;
		height:70px;
		position: fixed;
		bottom: 0;
		left: 0;
		padding: 25px 40px;
		-webkit-box-shadow: 0px -4px 26px -11px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px -4px 26px -11px rgba(0,0,0,0.75);
		box-shadow: 0px -4px 26px -11px rgba(0,0,0,0.75);

		@include responsive-max($screen-md) {
			padding: 25px 20px;
		}

		@include responsive-max($screen-sm) {
			height:105px;
			padding: 25px 0;
		}

		.infoIconStyle{
			.icon-information {
				@include responsive-max($screen-sm) {
					height: 0;
				}
			}
			@include responsive-max($screen-sm) {
				padding-left: 15px !important;
			}
		}

		.close-info {
			@include responsive-max($screen-sm) {
				padding-top: 14px;
			}
		}
	}
	.infoIconStyle{
		padding-left: 60px;
		font-size: 16px;
		color:#57575f;
		font-family: GalanoGrotesqueRegular;
	}

	@include responsive-max($screen-sm-min) {

		.headerStyle{
			padding-top:10px;
		}
		
		.alertsAndSweepsToggle{
			padding-top: 15px;
		}
		.icon {
				padding-top: 0px;
		}
		.alertsAndSweepsListStyle{
			margin:10px 45px 0px 15px;
		}
		h4{
			text-align: left;
		}
	 }

	@media (min-width: 0px) and (max-width: 599px) {
	.modal_content {
			&.infoPopup {
				width:100%;
				overflow-y: scroll;
				-ms-overflow-style: -ms-autohiding-scrollbar;
			}
			p {
				font-size: 18px;
			}
		}
	}
}


.alertsnSweepsError{

  .colsCenter{
		  text-align:center;
		  }
		  .errorBlock{
			margin-top: 10%;
			display: inline-block;
			width: 550px;
		  }
		  & h1{
			font-size: 45px;
			color: #6a6a72;
			font-weight: semibold;
		}
		& a{
			font-size: 23px;
			color:#2BE66D;
		}
		& p{
			font-size: 18px;
			line-height: 22px;
			font-weight: lighter;
			padding-bottom: 55px;
		}
			@media (min-width: 0px) and (max-width: 599px) {
				.errorBlock{
				 width: 300px;
				}
			 }
}


	.popupRect {
		background: #2BE66D;
		width: 320px;
		padding: 20px;
		height: 320px;
		font-size: 18px;
		color:#ffffff;

		@include responsive-max($screen-sm) {
			width: 250px;
			height: 250px;
		}
	}
	.col{
		color: #ffffff;

	}

	.doneIconStyle{
		font-size: 82px;
		margin-top: 70px;

		@include responsive-max($screen-sm) {
			margin-top: 20px;
		}
	}

// AlertNSweep for New User

.alertnsweep{
	.new-user {
		&-container{
			h4 {

				@include responsive-max($screen-sm-max) {
					font-size: 16px;
				}

			}
		}
		&-content {
			display: flex;
			flex-direction: row;
			justify-content: center;

			@include responsive-max($screen-sm-max) {
				flex-direction: column;
			}
		}

	}

	.alertPanel {
		display: inline-block;
		border-radius: 15px;
		background: #2BE66D;
		padding: 0 50px 50px 50px; 
		width: 445px;
		height: 515px;
		margin: 0 25px;
		color: #fff;
		text-align: center;

		@include responsive-max($screen-sm-max) {
			width: 90%;
			border-radius: 5px;
			text-align: left;
			padding: 15px 15px 20px 15px;
			margin: 0px 20px 15px 20px;
		}

		.panel-image {
			height: 210px;

			&.alert {
				padding: 40px 0 0 0;
				margin-bottom: 0;
			}

			@include responsive-max($screen-sm-max) {
				display: none;
			}
		}

		h1 {
			font-size: 60px;
			font-family: GalanoGrotesqueBold;

			@include responsive-max($screen-sm-max) {
				font-size: 21px;
				font-family: GalanoGrotesqueSemiBold;
				padding-bottom: 7px;
				font-weight: 300;
			}
		}

		p {
			font-size: 18px;
			height: 150px;
			font-family: GalanoGrotesqueMedium;

			@include responsive-max($screen-sm-max) {
				font-size: 14px;
				height: 130px;
				font-family: GalanoGrotesqueRegular;
				line-height: 20px;
			}
		}

		.page-options{
			border: 2px solid;
			font-family: GalanoGrotesqueMedium;

			.icon {
				font-size: 20px;
				line-height: 36px;
			}

			@include responsive-max($screen-sm-max) {
				margin: 0;
				border-radius: 0;
				padding: 8px 10px;
			}
		}
	}

	.error-page {
		text-align: center;
		color: #24dbb6;
		margin: 40px 0 0 0;

		p {
			font-size: 25px;
		}

		button {
			background: none;
			border: 2px solid #24dbb6;
			font-weight: bold;
			color: #24dbb6;
			padding: 10px 45px;
			font-size: 22px;
			font-family: GalanoGrotesqueSemiBold;
			margin: 17px 0 0 0;
		}
	}

}


