@import '../../vendor/bootstrap/mixins/vendor-prefixes';

.b .main-container .create-alert {
	padding-top: 0px;
}

.create-alert {
	&.main-container {
		padding-top: 0 !important;
	}

	.scroll-wrapper {
		padding-top: 0 !important;
	}

	.headerContainer {
		margin: 40px 13px 0px 20px;
	}

	.page-options {
		font-size: 18px;

		@include responsive-max($screen-sm-min) {
			font-size: 16px;
			padding: 2px;
		}

		.icon {
			font-size: 22px;

			@include responsive-max($screen-sm-min) {
				font-size: 19px;
				text-align: right;
			}
		}
	}

	.infoRow,
	.info-row {
		background: #FFFFFF;
		width: 100%;
		height: 70px;
		position: fixed;
		bottom: 0;
		left: 0;
		padding: 25px 0;
		-webkit-box-shadow: 0px -4px 26px -11px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px -4px 26px -11px rgba(0, 0, 0, 0.75);
		box-shadow: 0px -4px 26px -11px rgba(0, 0, 0, 0.75);
	}

	.info-row {
		@include responsive-max($screen-sm) {
			padding: 18px 0;
			height: 105px;
		}

		.text-center {
			font-size: 22px;

			@include responsive-max($screen-sm) {
				font-size: 35px;
			}
		}

		.info-data {
			span {
				color: #57575f;
				line-height: 24px;
			}
		}

		.infoIconStyle {
			padding-left: 15px;

			.icon-information {
				font-size: 26px;

				@include responsive-max($screen-sm) {
					height: 0;
				}
			}
		}
	}
	.infoIconStyle {
		padding-left: 60px;
		font-size: 16px;
		color: #57575f;
	}

	.react-select-box-label {
		padding: 0px;
	}

	.modal_content {
		&.infoPopup {
			max-width: 640px;
			width: 100%;
			height: 385px;
		}

		&.deletePopup,
		&.sweepsPopup  {
			max-width: 370px;
			width: 100%;
			height: 150px;
		}

		p {
			padding-top: 45px;
			font-size: 18px;
			text-align: center;
		}

		h3 {
			padding-bottom: 30px;
		}
	}

	.modal_footer {
		button {
			font-size: 18px;
		}
	}

	background-color:#2BE66D;
	color: #ffffff !important;
	
	.currency {
		border-bottom: 1px solid #c9c9c9;
	}

	.sweepsForm {
		font-size: 28px;
		font-family: GalanoGrotesqueRegular;

		.editSweep {
			text-align: right;
		}

		li {
			select {
				background: none;
				border: 0 !important;
				color: #fff;
				padding: 0;
				margin: 0;
				height: 40px;
				width: 90%;
				overflow: hidden !important;
				text-overflow: ellipsis;
				white-space: nowrap;
				float: right;
				clear: both;
				text-indent: 0;
				line-height: 32px;
				&[disabled="disabled"]::-ms-value,
				&[disabled=""]::-ms-value {
					color: #fff;
				}
			}
			select.createAlert[disabled="disabled"]::-ms-value {
				width: 82px;
			}
			select.editSweep[disabled="disabled"]::-ms-value {
				color: #fff;
			}

			&.first-column {
				section {
					&:first-child {
						width: 60%;
					}
					&:nth-child(2) {
						width: 40%;
					}
				}
			}
			&.second-column {
				section {
					&:first-child {
						width: 40%;
					}
					&:nth-child(2) {
						width: 60%;
					}
				}
			}
		}
	}
	.sweepsHeader {
		color: #ffffff;
		font-size: 18px;
		padding: 10px 0;
	}
	.infoIcon {
		margin-top: 44px;
		color: #ffffff;
		padding-right: 18px;
		float: right;
	}
	.sweepHeading {
		margin-top: 35px;
		margin-bottom: 0;
		text-align: center;
		font-size: 45px;
		color: #ffffff;
		padding-bottom: 0px;
	}
	.action-button {
		background-color: #FFFFFF;
		color: #2BE66D;
		border: #FFFFFF;
		position: fixed;
		height: 70px;
	}
	.colsRight {
		margin-top: 40px;
		width: 10%;
		float: right;
	}
	.currency {
		border-color: #fff;
		float: right;
		width: 47%;
		padding: 5px 0;
		input[type=number],
		input[type=text] {
			background: none;
			-moz-appearance: textfield;
			-webkit-appearance: none;
			border: 0 !important;
			color: #fff;
			font-size: 35px;
			height: 50px;
			margin: 0 0 -8px 0;
			line-height: 32px;
			font-family: GalanoGrotesqueSemibold;
			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
	h4 {
		padding-bottom: 0px;
		line-height: 0;
	}
	.pannel1 {
		background: #2BE66D;
		overflow: hidden;
		a:focus {
			outline: 0;
		}
		a:hover {
			cursor: pointer;
		}
		& .icon {
			padding-left: 27px;
			color: white;
		}
		& .btn {
			padding-right: 110px;
			padding-top: 25px;
			color: white;
			outline: 0;
			border: none;
			button :focus {
				outline: 0;
			}
		}
	}
	.col {
		color: #ffffff;
	}
	select {
		border: none;
		color: $green;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 13px;
		text-overflow: '';
		padding: 0;
		height: 23px;
		&::-ms-expand {
			display: none;
		}
		option {
			width: 200px;
		}
	}
	.react-select-box {
		padding: 0px 0 0 22px;
		color: #2be66d;
		&:before {
			border-left: 0px;
		}
		&:focus {
			box-shadow: none;
		}
		width: 100%;
		height:70px;
		&:after {
			content: "";
			top: 30px;
			right: 20px;
			border-top-color: #2be66d;
			border-top: 10px solid #2be66d;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}
	}
	.react-select-box-container {
		width: 380px;
		height: 68px;
		margin-top: -18px;
		margin-right: 10px;
		box-shadow: none !important;
		border: none !important;
		position: absolute;
		right: 0;
		background-image: none;
		@include responsive-max($screen-md) {
			right: 20px;
		}
	}
	.react-select-box-label {
		float: left;
		color: #2be66d;
		width: 380px;
		font-size: 27px;
		font-weight: normal;
		line-height: 30px;
		/*** @include responsive-max($screen-sm) {
				width: 100px;
		}***/
	}
	.react-select-box-clear {
		display: none;
	}
	.react-select-box-options {
		width: auto;
    	min-width: 100%;
		line-height: 30px;
		font-size: 20px;
		right: 0 !important;
		position: absolute;
		left: inherit;
		@include responsive-max($screen-sm) {
			// width: 100px;
		}
		.react-select-box-option {
			font-size: 18px;
			color: gray !important;
			span {
				display: inline-block;

				&:first-child {
					width: 65%;
				}
				&:nth-child(2) {
					width: 33%;
					text-align: right;
					font-weight: bold;
					white-space: nowrap;
				}
			}
		}
	}
	.row {
		@include responsive-max($screen-sm) {
			&:nth-child(2) {
				div {
					&:nth-child(7) {
						border-bottom: none;
					}
					&:nth-child(8) {
						border-bottom: none;
					}
				}
			}
		}
	}

	.form-wrapper {
		background-color: #2BE66D;
		margin: 0px 0 0 0px;
		text-align: center;
		left: 50%;
		z-index: 2;
		padding: 35px 0 100px 0;

		@include responsive-max($screen-md) {
			padding: 0 0 0 0;
			margin-top: -3px;
			width: 100%;
			left: 0;
			margin-left: 0;
			display: block;
			padding: 0 15px 90px 15px;
		}

		li {
			list-style-type: none;
			padding: 20px 0px;
			color: white;
			overflow: hidden;
			.user-input {
				color: white;
			}

			section {
				padding-bottom: 0;
				float: left;
				width: 50%;
				height: 53px;
				text-align: left;
				& input {
					border: none;
					padding: 0px;
					text-align: right;
					height: 27px;
				}
			}
		}
	}

	.send {
		font-weight: bold;
	}

	.cancelBtn {
		margin-top: 40px;
		width: 35%;
		float: left;
		font-family: GalanoGrotesqueRegular;
		color: #ffffff;
		padding-left: 20px;
		display: block;
		border: none;

		a:focus {
			outline: 0;
		}

		a:hover {
			cursor: pointer;
		}
	}

	.action-button {
		background-color: #FFFFFF;
		color: #2BE66D;
		border: #FFFFFF;
		position: fixed;
		height: 70px;
		font-size: 23px;
	}

	.text-left {
		text-align: left;
		padding-top: 60px;
		font-size: 20px;
		font-family: GalanoGrotesqueRegular;
	}

	.text-center {
		text-align: center;
		color: white;
		font-size: 45px;
		font-family: GalanoGrotesqueSemiBold;
	}

	.user-data {
		margin: 46px 50px 0 0;
		padding: 0px;
		text-align: left;

		ul li {
			list-style-type: none;
			padding: 14px 0px;
			border-bottom: 1px solid #e7e7e7;
			color: #57575f;
			span {
				display: inline-block;
			}

			.user-input {
				color: $green;
			}
		}
	}

	@media (min-width: 0px) and (max-width: 799px) {
		.modal_content {
			&.infoPopup {
				width: 100%;
				overflow-y: scroll;
				-ms-overflow-style: -ms-autohiding-scrollbar;
			}

			p {
				font-size: 16px;
			}
		}

		.sweepsHeader {
			padding-left: 0px;
			font-family: GalanoGrotesqueRegular;
		}

		.currency {
			border-color: #fff;
			float: right;
			width: 85%;
			font-size: 37px;
			margin-top: -10px;

			input[type=text] {
				font-size: 26px;
			}
		}

		.sweepsForm {
			font-size: 18px;
			margin-top: 10px;
		}

		.headerContainer {
			margin: 20px 10px 0px 10px;
		}

		.sweepHeading {
			margin-top: 0;
			font-size: 18px;
		}

		.cancelbutton {
			padding-top: 5px;
			padding-left: 2px;
			display: flex;
		}

		.text-left {
			font-size: 16px;
		}

		.text-right {
			font-size: 16px;
		}

		section {

			& input {
				font-size: 14px;
			}
		}

		.form-wrapper {
			li {
				list-style-type: none;
				padding: 30px 0px;
				border-bottom: 1px solid rgba(255, 255, 255, .5);
				color: white;
				overflow: hidden;
				.user-input {
					color: white;
				}
				section {
					padding-left: 3px;
					padding-right: 5px;
					float: left;
					width: 50%;
					text-align: left;
					height: auto;
					& input {
						border: none;
						padding: 0;
						text-align: right;
						height: 27px;
					}
					select {
						height: auto;
					}
				}
			}
		}
		.react-select-box-container {
			font-size: 18px;
			width: 200px;
			height: 40px;
			margin-top: 5px;
		}
		.react-select-box {
			width: 200px;
			height: 40px;
			margin-top: -01px;
			padding-left: 10px;
		}
		.react-select-box-label {
			font-size: 16px;
			width: 200px;
		}
		.react-select-box-options {
			min-width: 110%;

			.react-select-box-option {
				font-size: 12px;
				padding: 10px 5px;
			}
		}

		.react-select-box-off-screen {
			padding: 5px 10px;
		}
		.react-select-box:after {
			top: 16px;
			right: 10px;
			border-top: 0px;
			border-top-color: #2be66d;
			border-top: 6px solid #2be66d;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}
	@media (max-width: 414px) {
		.react-select-box-container {
			margin-top: 0;
		}
		.react-select-box-options{
			min-width: inherit;
			width: 250px;
		}
		.sweepHeading {
			margin-top: 5px;
		}
		
		.form-wrapper li {
			section {
				line-height: 37px;
			}
		}
		.react-select-box-container {
			font-size: 17px;
			width: 185px;
		}
	}
	@media (max-width: 413px) {
		.sweepsForm {
			font-size: 16px;
		}
	}
	@media (max-width: 374px) {
		.headerContainer {
			margin-top: 15px;
		}
		.currency {
			input[type=text] {
				font-size: 20px;
			}
		}
		.react-select-box-container {
			font-size: 13px;
			height: 37px;
			width: 145px;
		}
		.sweepHeading {
			font-size: 16px;
		}
		.sweepsForm {
			font-size: 14px;
		} 
		.form-wrapper li {
			padding: 16px 0;
		}
	}
}

.currency.currency-value-holder {
	text-align: right;
	border: none;
	.currency-value-border {
		display: inline-block;
		height: 2px;
		border-bottom: 1px solid #fff;
		font-size: 35px;
		min-width: 50px;
		color: transparent;
		overflow: hidden;
		@include responsive-max($screen-sm) {
			font-size: 25px;
			min-width: 25px;
		}
	}
}