
@import '../../mixins/responsive';
@import '../../variables/color';
@import '../../variables/account';
@import '../../vendor/bootstrap/mixins/vendor-prefixes';

$site-background-color: #fff;
$thread_backgroundcolor: #2be66d;
$table_border-color: #e7e7e7;
$sector_white-color: #eee;
$line_seprator-color: #c0cad8;
$list-color: #57575f;
$next-color: #8d8d92;
$gray-color: #8E8E93;

@each $name, $accountcolor in $accountcolors {
	.#{$name} {
		.payments {
			label {
				color: $accountcolor !important;
			}
		}

		&.column-from {
			color: $accountcolor ;
		}
	}
	h5,
	label {
		&.#{$name} {
			color: $accountcolor !important;
		}
	}
}

.payments {
	.b & {
		.icon-add {
			font-size: 22px;
			text-align: center;
			vertical-align: baseline;

			~ span {
				font-size: 14px;
				vertical-align: super;
			}
		}

		.tab-content {
			.page-options {
				position: absolute;
				right: 25px;
				top: -3px;
				width: 156px;
				padding: 0;
				margin: 0;
				@include responsive-max(($screen-lg)-1px) {
					right: 8px;
				}
			}

			&.mobile-margin {
				@include responsive-max($screen-sm) {
					margin-top: 20px;
				}
			}

			@include responsive-max($screen-ipad) {
				padding: 0 20px;
				right: 0;
			}
		}

		.title {
			padding-bottom: 0px;
			text-align: center;
			margin-bottom: 5px;
			font-size: 14px;

			@include responsive-max($screen-md) {//lg-1
				text-align: left;
			}
		}

		> h4.title {
			font-size: 18px;
			margin: 10px 0;
		}

		p.title {
			 @include responsive-max($screen-sm) {
				padding-left: 12px;
				}
			}

		h4.next-step {
			padding-bottom: 0;
			font-size: 18px;
			@include responsive-max($screen-md) {
				display: none;
			}
		}
		&:not(.payment-data) {
			.page-options {
			&:first-child {
				margin-top: 5px;
			}
			&.add-payee {
				top: -3px;
			}
			@include responsive-max(801px) {
				display: none;

				&.add-payee {
					display: block;
					right: 0;
				}
			}
			.icon {
				margin-right: 6px;
				&.icon-add {
					margin-right: 0;
				}
				&.icon-your-payments {
					margin-right: 3px;
				}
			}

		}
	}
		.line-seperator {
			&:after {
				display: none;
				@include responsive-max($screen-sm) {
					border-bottom: 1px solid $line_seprator-color;
					display: block;
					margin-bottom: 5px;
					margin-top: -15px;
					position: relative;
					width: 100%;
				}
			}
		}

		.bottom-line {
			&:after {
				display: none;
				@include responsive-max($screen-sm) {
					border-bottom: 1px solid $line_seprator-color;
					display: block;
					margin-bottom: 5px;
					position: relative;
					width: 500%;
					left: -100%;
					top: 7px;
				}
			}
		}

		.repeating {
			&:after {
				display: none;
				@include responsive-max($screen-sm) {
					border-bottom: 1px solid #e7e7e7;
					display: block;
					margin-top: -15px;
					position: relative;
					width: 100%;
				}
			}
		}

		.modal_content {

			&.credit-modal {
				max-width: 450px;
				width: 100%;
			}
		}

		& .nav {
			border: 2px solid $thread_backgroundcolor;
			display: inline-block;
			float: none;

			&.nav {
				width: 70%;
				@include responsive-max($screen-sm) {
					width: 55%;
				}
			}

			&.nav-justified > li {
				border-right: none;
				a {
					border-right: 2px solid $thread_backgroundcolor;
					color: $thread_backgroundcolor;
					white-space: nowrap;
					&:focus {
						background-color: $thread_backgroundcolor;
						color: $site-background-color;
					}
				}

				&:last-child {
					a {
						border-right: 0;
					}
				}

				&.active {
					a {
						background-color: $thread_backgroundcolor;
						color: $site-background-color;
					}
					background-color: $thread_backgroundcolor;
					color: $site-background-color;
				}
			}
		}

		.padding-right-left {
			padding-left: 33px;
			padding-right: 33px;

			@include responsive-max($screen-sm) {
				padding-left: 15px;
				padding-right: 15px;
			}

			@include responsive-between($screen-md, $screen-lg) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		.pay-btn-success {
			background-color: $green;
			border: 0;
			bottom: 0;
			color: $site-background-color;
			font-size: 23px;
			left: 0;
			outline: none !important;
			padding: 10px 0;
			position: fixed;
			width: 100%;
			z-index: 5;
		}

		label {
			width: 100%;
		}

		.payee-card {
			// pointer-events: none;
			margin-left: 10%;
			width: 80%;
		}

		.pay-header {
			border-bottom: .5px solid  $hr-border-color;

			button,
			h4 {
				margin-bottom: 15px;
				margin-top: 30px;
			}

			button {
				color: $green;
				float: left;
			}

			h4 {
				text-align: center;
			}
		}

		.sub-header {
			margin-top: 40px;
		}

		////tr int
		.panel {
			box-shadow: none;
		}

		.title-repeat	{
			display: none;
			font-family: GalanoGrotesqueSemiBold;
			padding: 10px;
			@include responsive-max($screen-sm) {
				 display: block;
			 }
		}

		#repeat-payment {

			ul {
				&.list-unstyled {
					 li {
						display: list-item !important;
						height: auto !important;
					 }
				}
			}

			.form-wrapper {
				// display: none;
				background-color: $site-background-color;
				border-radius: 5px;
				left: 50%;
				margin: 0 0 0 -140px;
				padding: 18px 0 0;
				position: absolute;
				text-align: center;
				text-overflow: ellipsis;
				top: 100px;
				width: 280px;
				z-index: 2;

				@include responsive-max($screen-md) {
					display: block;
					left: 0;
					margin-left: 0;
					margin-top: -3px;
					padding: 0 20px;
					width: 100%;
				}

				@include responsive-max($screen-sm) {
					padding: 0 10px;
					top: 65px;
				}

				li {
					border-bottom: 1px solid $table_border-color;
					color: $list-color;
					list-style-type: none;
					//overflow: hidden;
					display: flex;
					height: 50px;
					align-items: center;

					.user-input {
						color: $green;
					}

					::-webkit-input-placeholder {
						color: #2be66d;
					}

					:-moz-placeholder { 
						color: #2be66d;  
					}

					::-moz-placeholder { 
						color: #2be66d;  
					}

					:-ms-input-placeholder {  
						color: #2be66d;  
					}

					&.stop-when,
					&.how-often {
						section:first-child {
							width: 45%;
						}
						section:nth-child(2) {
							width: 55%;
						}
					}

					&.ref-field {
						section:first-child {
							width: 40%;
						}
						section:nth-child(2) {
							width: 60%;
							overflow: hidden;
						}
					}

					&.stop-when {
						section:nth-child(2) {
							font-size: 13px;
						}
					}

					section {
						padding-bottom: 0;

						&:first-child {
							float: left;
							text-align: left;
							width: 60%;
						}

						&:nth-child(2) {
							float: right;
							text-align: right;
							width: 40%;
							.toggle {
								margin-top: 5px;
							}
						}

						& input {
							border: none;
							color: #57575f;
							height: 25px;
							padding: 0;
							text-align: right;
							text-overflow: ellipsis;

							&:focus::-webkit-input-placeholder { color: transparent; }
							&:focus::-moz-placeholder { color:transparent; }
							&:focus:-ms-input-placeholder { color:transparent; }

							&.transfer-ref {
								color: $green;
							}
							&.invalid {
								color: red;
							}
						}
					}
				}
			}


			.date {
				height: 25px;
				float: right;
				margin-top: -5px;
				width: 116px;

				input[type=text]{
					border: 0px !important;
					box-shadow: none;
					color:$green;
					padding: 0px!important;
					text-align: right;
					font-size: 16px;

					&:hover {
						cursor: pointer;
					}
				}
			}

			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				border: none;
				color: $green;
				height: 23px;
				padding: 0;
				text-indent: 13px;
				text-overflow: '';

				&::-ms-expand {
					display: none;
				}

				option {
					width: 200px;
				}

			}


			.react-select-box{
				&:before{
					border-left:0px;
				}
				&:after{
					border-top:0px;
				}
				&:focus{
					box-shadow: none;
				}
			}

			.react-select-box-container {
				box-shadow:none !important;
				border:none !important;
				height: 0;
				position: absolute;
				right: 0;
				width: 50%;
				margin-top: -10px;
				@include responsive-max($screen-md) {
					right: 10px;
				}
				&.stop-when {
					button {
						.react-select-box-label {
							width: 160px;
							font-size: 13px;
						}
					}
				}
			}

			.react-select-box-label{
				color: $thread_backgroundcolor;
				float: right;
				font-size: 16px;
				font-weight: normal;
				padding: 0;
				text-align: right;
				width: 140px;
				font-family: GalanoGrotesqueRegular;
			}

			.react-select-box-clear{
				display:none;
			}

			.react-select-box-options {
				a {
					font-size: 15px;
				}
				margin-left: -30px;
				right: 0;
				width: 210px;
				@include responsive-max($screen-sm) {
					//width: 150px;
				}
			}
		}

		.confirm-payment {
			.modal_content {
				max-width: 350px;
				width: 100%;

				&.error-popup {
					p {
						width: auto;
						&:first-child {
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}

	.b {
		height: 100vh;
		overflow: hidden;

		a {
			:hover {
				cursor:pointer;
			}
		}

		.float-left {
			float: left;
		}

		.float-right {
			float:right;
		}

		.horz-divider {
			border-bottom: 1px solid $table_border-color;
			padding-top: 15px;
		}

		.payments {
			.col-lg-12 {
				padding-left: 0px;
				padding-right: 0px;
			}
		}

		.account {
			margin-bottom: 20px;
		}

		.payment-page-options {
			color:$green;
			font-size: 16px;
			margin-top: 15px;

			.icon-icon-payees {
				font-size: 28px;
				margin-right: 5px;
				position: relative;
				top: -4px;
				width: 31px;
			}

			.icon-icon-your-payments {
				margin-right: 8px;
			}
		}

		.p-arw-rgt, .p-arw-lft {
			background:url(/images/common/Payment-Arrow.svg) no-repeat 0 0;
			display: inline-block;
			height: 20px;
			position: absolute;
			width: 20px;
		}

		.p-arw-rgt{
			left: -15px;
			top: 45px;
		}

		.p-arw-lft {
			right: -20px;
			top: 45px;
		}

		.payment-tabs {
			border: 2px solid $green !important;
			float: none;
			margin:13px auto 0;
			width:182px;

			.active {
				a {
					background-color: $green !important;
					color: $site-background-color !important;
					outline: none;
				}
			}

			a {
				color: $green !important;
				outline: none;
				padding:4px 10px !important;
			}
		}

		.page-subtitle{
			color: $list-color;
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			margin:11px 0 0 2px;
			padding-bottom: 0px;
			text-align: center;
			width: 100%;
		}

		#paymentsContent {
			.value {
				border: 2px solid $green;
				border-radius:5px;
				color: $green;
				font-size: 38px;
				height: 60px;
				margin:37px auto 0 auto;
				padding:15px;
				text-align: center;
				width: 230px;
			}

			.confirm-value {
				background-color: $green;
				color: $site-background-color;
			}
		}

		.tab-content{
			margin-top: 25px;
		}
		.user-data{
			//width: 290px;
			margin:65px 50px 0 0;
			padding: 0px;
			text-align: left;

			ul li {
				list-style-type: none;
				padding: 14px 0px;
				border-bottom: 1px solid $table_border-color;
				color: $list-color;

				span {
					display: inline-block;
				}

				.user-input {
					color: $green;
				}
			}
		}

		.form-elements {
			padding-bottom: 10px;
			text-align: center;
			//margin-top: 36px;
			color: $list-color;
			font-size: 14px;

			.add-user {
				color: $green;
				float: right;

				.icon-addnew {
					background:url(/images/common/icon-add-new.svg) no-repeat 0 0;
					display: inline-block;
					height: 20px;
					margin-right: 5px;
					width: 20px;
				}

				.add-new {
					position: relative;
					top: -5px;
				}
			}
		}

		.user-data-wrapper {
			display: block;
		}

		@include responsive-max($screen-md) {
			.dots-align{
				display: none;
			}
		}

		@include responsive-max($screen-sm) {
			.payment-page-options, .page-subtitle{
				display: none !important;
			}

			.payment-tabs{
				width: 166px;
				margin-top: 0px;
			}

			.tab-content{
				margin-top: 0px;
			}
	  	.form-elements{
	  		border-top: 1px solid $table_border-color;
			margin: 10px 0 0 0;
			padding: 10px 0 0 10px;
	  		text-align: left;
	  	}
	  	.account{
	  		margin:10px 10px 20px 10px;
	  	}
	  	.scroll-wrapper{
	  		padding-top: 16px !important;
	  	}
	  	.dots-align{
	  		display: block !important;
	  		float: right;
			margin-top: -30px;
	   	 	margin-right: 10px;
	   	 	color: $green;
			font-size: 28px;
			height: 20px;
	  	}

	  	.hide-mob{display: none;}
	  	.show-mob{display: block !important;}

	  	.add-new{
			margin-right: 10px;
			}
		.p-arw-rgt, .p-arw-lft{
			display: none !important;
		}

	}
	@media(min-width:986px) {
		.dots-align{
			display: none !important;
		}
	}

	}
}

.payment-data {
	header {
		height: auto;
		position: static;
		.navigation {
			& .page-options {
				@media only screen 
				and (min-device-width : 320px) 
				and (max-device-width : 568px)
				and (orientation : portrait) { 
					padding: 0 0 0 10px;
					font-size: 13px;
					position: relative;
					z-index: 10;
				}

				@media only screen 
				and (min-device-width : 375px) 
				and (max-device-width : 667px) {
					font-size: 14px;
					position: relative;
					z-index: 10;
				}

				.icon {
					&.icon-page-back{
						font-size: 18px;
						height: 21px;
						width: 22px;

						@include responsive-max($screen-sm) {
							display: inline;
							font-size: 16px;
							vertical-align: -4px;
						}
					}
				}
			}
		}

		.imageDisplay{
			font-size: 30px;
			height: 40px;
			display: block;

			@include responsive-max($screen-sm) {
				display: none;
			}
		}

		.paymentLbl {
			font-family: GalanoGrotesqueRegular !important;
			margin-bottom: 4px;
			padding-bottom: 0;

			@include responsive-max($screen-sm) {
				font-family: GalanoGrotesqueSemiBold !important;
				margin: 1px 0 5px 0;
				padding: 0;
				font-size: 15px;
			}

			@media only screen 
			and (min-device-width : 320px) 
			and (max-device-width : 568px)
			and (orientation : portrait) { 
				font-size: 14px;
			}

			@media only screen 
			and (min-device-width : 375px) 
			and (max-device-width : 667px) {
				font-size: 15px;
			}
		}
		.paymentLbl-payee {
			font-family: GalanoGrotesqueRegular !important;
			margin: -10px 0 35px;
			padding-bottom: 0;

			@include responsive-max($screen-sm) {
				font-family: GalanoGrotesqueSemiBold !important;
				margin: 1px 0 17px 0;
				font-size: 16px;
			}
		}

		.paymentBtn {
			color: $green;
		}

		hr {
			display: none;
			@include responsive-max($screen-sm) {
				display: block;
				height: 0.5px;
				background-color: $sector_white-color;
			}
		}

		.mob-payment-nav {
			margin: 0 -35px;

			.archived & {
				margin: 0 -50px !important;
			}
		}

		.panel-content {
			 @include responsive-max($screen-sm) {
				padding: 15px 0 10px;
			 }
			.nav {
				&.manage-nav {
					margin-bottom: 5px;

					@include responsive-max($screen-sm) {
						margin-bottom: 0;
						width: 100%;
						font-size: 14px;
					}
					@media only screen 
					and (min-device-width : 320px) 
					and (max-device-width : 568px)
					and (orientation : portrait) { 
						font-size: 13px;
					}
				}
			}
		}
	}

	@media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 667px) {
		&.payee {
			.navigation {
				.page-options {
					font-size: 16px;
				}
			}

			.paymentLbl-payee {
				font-size: 18px;
			}
		}
	}

	.payment-grid {
		@include responsive-max($screen-sm) {
			height: calc(100% - 103px);
			overflow-y: scroll;
			overflow-x: hidden;
		}

		.griddle {
			.transaction-data-head,
			.transaction-data-grid {
				width: 100%
			}

			.transaction-data-grid {
				position: relative;
				width: 100%;
				max-height: calc(100vh - 295px);
				height: auto;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: -ms-autohiding-scrollbar;

				&::-webkit-scrollbar {
					width: 0;
				}
			}

			.transaction-data-head-container,
			.transaction-data-grid-container {
				width: 1200px;
				margin: 0 auto;

				@include responsive-max(1201px) {
					width: 1024px;
				}
				@include responsive-max(1024px) {
					width: 1000px;
				}

				
			}

			table {
				td {
					color: #57575f;
				}
				th,
				td {
					&.column-from {
						width: 17%;
					}
					&.column-to {
						width: 17%;
					}
					&.column-edit {
						width: 11%;
						button {
							color: $green;
						}
					}
					&.column-name {
						width: 25%;
					}
					&.column-code,
					&.column-account {
						width: 20%;
					}
					&.column-edit-payee {
						width: 10%;
						button {
							color: $green;
						}
					}
					&.column-when {
						width: 13%;
					}
					&.column-amount {
						width: 12%;
					}
					&.column-reference {
						width: 15%;
					}
					&.column-type {
						width: 15%;
					}
					&.column-ref-payee {
						width: 20%;
					}
					&:hover,
					& label:hover {
						cursor: pointer;
					}
				}

				td {
					span,
					div,
					label,
					button {
						white-space: nowrap;
						width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						min-height: 22px;
						&.grid-loader {
							height: 400px;
						}
					}
				}

				.sort-descending {
					span {
						&:last-child {
							font-size: 10px;
						}
					}
				}
			}
		}
		.finishing-line {
			width: 100%;
			height: 80px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			p {
				padding-bottom: 0;
			}
		}

		.row {
			@include responsive-max($screen-sm) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		.details-row div:first-child{
			.custom-row-card {
				border-top :1px solid $table_border-color;
			}
		}

		.custom-row-card {
			font-size: 16px;
			border-bottom :1px solid $table_border-color;
			padding: 2px 8px 5px 8px;
			line-height: 1.6;
			font-family: GalanoGrotesqueMedium;
			h5 {
				font-size: 16px;
				font-family: GalanoGrotesqueMedium;
				display: inline-block;
				padding-bottom: 0;
				&.payee-name {
					font-family: GalanoGrotesqueSemiBold;
				}
			}
			.amount,
			.next-due {
				color: $next-color;
				font-family: GalanoGrotesqueRegular;
			}
			.name {
				float: right;
				&::after {
					font-family: 'b-font';
					font-size: 10px;
					content: "\3d";
					color: $next-color;
					margin-left: 3px;
				}
			}
			&.manage-payee {		
				padding: 5px 5px;
				margin-left: 15px;
    			margin-right: 15px;		
				font-family: GalanoGrotesqueregular;

				& .payee-acc {
					font-family: GalanoGrotesqueRegular;
				}

				& .payee-ref {
					font-family: GalanoGrotesqueMedium;
				}

				&:first-child {
					margin-top: -5px;
				}	
			}
		}
	}

	&.payee {
		header {
			.paymentLbl {
				margin-bottom: 20px;
			}
		}
	}
}

.b {
	header {
		.navigation {
			&.inner {
				@media only screen 
				and (min-device-width : 320px) 
				and (max-device-width : 568px)
				and (orientation : portrait) { 
					.page-options {
						font-size: 14px;
					}

					h4 {
						font-size: 15px;
					}
				}

				@media only screen 
				and (min-device-width : 375px) 
				and (max-device-width : 667px)
				and (orientation : portrait) {
					.page-options {
						font-size: 16px;
					}

					h4 {
						font-size: 18px;
					}
				}
			}
		}
	}
}
