@import '../../mixins/responsive';
@import '../../mixins/dyb-header';
@import '../../variables/color';
@import '../../variables/account';
@import '../../vendor/bootstrap/variables';
@import '../../vendor/bootstrap/mixins/vendor-prefixes';

@each $name, $accountcolor in $accountcolors {
	
	.#{$name} {
		.b & {
			&.financial-stories2 {
				background-color: $accountcolor;

				.fc-select {
					.react-select-box-label,
					.react-select-box-option {
						color: $accountcolor !important;
					}

					.react-select-box {
						&:after {
							border-top: 12px solid $accountcolor !important;
						}
					}
				}
			}
		}
	}
}

 .financial-stories2 {
		
		min-width: 1024px !important;
		overflow-x: auto;
		overflow-y:auto !important;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.icon-tag{
			&:before {
				margin-right: 8px;
			}
		}

		&.main-container{
			padding-top: 0px;
			min-width: 1024px;
		}

		.scroll-wrapper{
			padding-top: 0px !important;
			min-width: 1024px;

		}
		.fc-main-wrapper{
			margin: 0px auto;
			padding: 40px 30px;
			
			a, h2{
				color: #fff;
			}
		}
		.inner-wrapper{
			min-width: 900 px;
			max-width: 1200px;
			margin: 0 auto;

				.stmnt-wrapper{
					min-height: 100px;
					clear:both;
				}
				.statement1, .statement2{
				font-size: 36px;
				margin-top: 95px;
				color: #fff;
				font-weight: bold;
				font-weight: 300
			}
			.statement1{
				padding-bottom: 20px;
				font-weight: 300;

				&.break-line {
					> span {
						&:last-child {
							display: block;
							padding-top: 8px;
						}
					}
				}
			}
			.statement2{
				font-size: 27px;
				margin-top: 50px;
				padding-bottom: 0px;
				clear: both;
				font-weight: 300
			}
			.down-value {
				font-size: 72px;
				color: #fff;
				font-weight: bold;
				padding-bottom: 20px;
				padding-top:20px;
				line-height: 55px;
				display:block;

				.sec-value {
					vertical-align: 1px;
					font-size: 60%;
				}
			}
		} //inner-wrapper Tag end

		//Dropdown styles start
		//Dropdown styles start
		.fc-select {
			position: relative;
			width: 390px;
			float: left;
			margin: 0px 0 46px 0px;

			.react-select-box-container {
				width: 390px;
			}

			.react-select-box-option {
				color: #39afff !important;
			}

			select::-ms-expand {
				display: none;
			}

			@media screen and (min-width: 0\0) {
				select {
					appearance: none;
					background: #fff;
					padding: 4px 20px;
				}

				select:active{
					background-color: #fff;
				}
			}

			option:nth-child(n+2){
					font-weight: normal;
			}
		}
		//Dropdown styles ends
		.banner-img {
			text-align: right;
			padding-top: 50px;
			margin-right: -75px;
			overflow: hidden;

			&.slinky {
				position: relative;
				right: -20px;
			}

			.coffee{
				background: url("../images/cb/coffee.png") top right no-repeat;
				width: 450px;
				height: 450px;
				float: right;
			}
			
			.chocolate-box{
				background: url("../images/cb/chocolate-box.png") no-repeat 0 0;
				position: absolute;
				right: 0;
				top: 20px;
				width: 435px;
				height: 426px;

				@include responsive-max(1025px) {
					margin-right: -30px;
				}
			}

			.slinky{
				background: url(../images/cb/slinky.png) no-repeat 35px 27px;
				background-size: 95%;
				width: 540px;
				height: 400px;

				@include responsive-max(1025px) {
					background-size: 80%;
				}
			}
		}

		 .fc-table{
				border:1px solid #fff;
				border-radius: 5px;
				background-color: #fff;
				padding: 40px 50px;
				margin: 35px 0 20px 0;

				table {
					width: 100%;
					max-width: 100%;

					tr {
						&.no-data{
							border-bottom: 0;
						}
					}
					tr td{
							padding: 15px 0;
							font-size:18px;

							strong {
								font-family: GalanoGrotesqueSemiBold;
								font-weight: 300;
							}

							.icon-tag{
								position: relative;
								top: 5px;
							}
						}
					tr{
						border-bottom: 1px solid #e7e7e7;
					}
				}
			}
	} //financial-stories2 Tag end
