@mixin text-overflow($width) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: $width;
}

@mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
	}
 
// Output standard non-prefixed declaration
	#{$property}: $value;
}
// .selector {
//   @include prefix(transform, rotate(45deg), webkit ms);
// }

$baseFontSize: 16px;

@function calculateRem($size) {
	$remSize: $size / $baseFontSize;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}