@mixin small-header {
	background-size: auto 50%;
	height: $header-height-dyb-smaller;
}

@mixin dyb-header($image) {
	header {
		.dyb & {
			background: url('../images/dyb/#{$image}') no-repeat center center;
			background-color: palette((color: white)...);
			background-size: auto 140px;
			box-shadow: rgba(0, 0, 0, .1) 0 3px 3px;
			height: $header-height-dyb;

			@include responsive-max($screen-md) {
				@include small-header;
			}

			&.smaller {
				@include small-header;
			}

		}
	}

}
